{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Hannah Sutton Design</title>
    <meta name="description" content="Hannah Sutton Design website">
  {{/replace}}

  {{#replace "body-id"}}project-finsec{{/replace}}

  {{#replace "main"}}

    <section id="hero">
      <div>
        <img src="/assets/img/portfolio/finsec/hero.jpg">
      </div>
    </section>

    <section id="details">
      <div>
        <img src="/assets/img/icons/line-down_animated.svg">
        <h2>FinSec is a financial planning firm in Adelaide, South Australia. They came to us to establish an online presence for one of their best services that would help them lead the way in their industry.</h2>
        <img src="/assets/img/icons/line-down-dot-short-animated.svg">
        <h3>We built a custom website from the ground up that instills trust in their audience and allow them to capture leads from potential clients. The website’s user friendly forms save hundreds of admin hours per year by automating the first stage transfer process. The site also functions seamlessly on Mobile &amp;Tablet screens.</h3>
        <img src="/assets/img/icons/small-arrow-down-animated.svg">
      </div>
    </section>

    <section id="image-display">
      <div>
        <img src="/assets/img/portfolio/finsec/contact-layout@2x.jpg">
      </div>
    </section>

    <section id="banner">
      <div>
        <h2>Simplifying the complex. <br>Elegant, intelligent &amp; intuitive <br>form design.</h2>
      </div>
    </section>

    <section id="hero2">
      <div>
        <ul>
          <li>
            <img src="/assets/img/portfolio/finsec/finsec-form-1.jpg">
            <img src="/assets/img/portfolio/finsec/finsec-form-2.jpg">
          </li>
          <li>
            <img src="/assets/img/portfolio/finsec/finsec-form-3.jpg">
            <img src="/assets/img/portfolio/finsec/finsec-form-4.jpg">
            <img src="/assets/img/portfolio/finsec/finsec-form-5.jpg">
          </li>
          <li>
            <img src="/assets/img/portfolio/finsec/finsec-form-6.jpg">
            <img src="/assets/img/portfolio/finsec/finsec-form-7.jpg">
          </li>
        </ul>
      </div>
    </section>

    {{> portfolio-footer}}

  {{/replace}}
{{/extend}}
