{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Portfolio</title>
    <meta name="description" content="Get a glimpse of some of the designs I have enjoyed working on.">
  {{/replace}}

  {{#replace "body-id"}}portfolio{{/replace}}

  {{#replace "main"}}

    <section id="fold1" class="pair">
      <div>
        <div class="portfolio-item-wrapper">
          <img src="/assets/img/portfolio/waltermelon@2x.jpg">

          <div class="portfolio-item-overlay">
            <img src="/assets/img/icons/line-down-dot-short-animated.svg">
            <h3>Walter Melon</h3>
            <h4>Logo</h4>
          </div>

        </div>
        <div class="portfolio-item-wrapper">
          <img src="/assets/img/portfolio/bagel&shakeco@2x.jpg">
          <div class="portfolio-item-overlay">
            <img src="/assets/img/icons/line-down-dot-short-animated.svg">
            <h3>Bagel &amp; Shake Co</h3>
            <h4>Logo</h4>
          </div>
        </div>
      </div>
      <div class="portfolio-item-wrapper"><img src="/assets/img/portfolio/finsecptx@2x.jpg">
        <div class="portfolio-item-overlay">
          <img src="/assets/img/icons/line-down-dot-short-animated.svg">
          <h3>FinsecPTX</h3>
          <a href="/feature-project/finsec">Website</a>
        </div>
      </div>
    </section>

    <section id="fold2" class="solo">
      <div class="portfolio-item-wrapper"><img src="/assets/img/portfolio/dodo@2x.jpg">
        <div class="portfolio-item-overlay">
          <img src="/assets/img/icons/line-down-dot-short-animated.svg">
          <h3>DODO</h3>
          <h4>Childrens Book Illustration</h4>
        </div>
      </div>
    </section>

    <section id="fold3" class="three">
      <div class="portfolio-item-wrapper"><img src="/assets/img/portfolio/cosmetic-avenue@2x.jpg">
        <div class="portfolio-item-overlay">
          <img src="/assets/img/icons/line-down-dot-short-animated.svg">
          <h3>Cosmetic Avenue</h3>
          <a href="/feature-project/cosmetic-avenue">Surgery Brochure</a>
        </div>
      </div>
      <div class="portfolio-item-wrapper"><img src="/assets/img/portfolio/frost-bites@2x.jpg">
        <div class="portfolio-item-overlay">
          <img src="/assets/img/icons/line-down-dot-short-animated.svg">
          <h3>Frost Bites</h3>
          <h4>Packaging</h4>
        </div>
      </div>
      <div class="portfolio-item-wrapper"><img src="/assets/img/portfolio/karen-williams@2x.jpg">
        <div class="portfolio-item-overlay">
          <img src="/assets/img/icons/line-down-dot-short-animated.svg">
          <h3>Karen Williams</h3>
          <a href="/feature-project/karen-williams">Branding</a>
        </div>
      </div>
    </section>

    <section id="fold4" class="pair">
      <div class="portfolio-item-wrapper"><img src="/assets/img/portfolio/red-dust@2x.jpg">
        <div class="portfolio-item-overlay">
          <img src="/assets/img/icons/line-down-dot-short-animated.svg">
          <h3>Red Dust</h3>
          <h4>Website</h4>
        </div>
      </div>
      <div>
        <div class="portfolio-item-wrapper"><img src="/assets/img/portfolio/restoreayogamum@2x.jpg">
          <div class="portfolio-item-overlay">
            <img src="/assets/img/icons/line-down-dot-short-animated.svg">
            <h3>Restore A Yoga Mum</h3>
            <h4>Card Set Illustrations</h4>
          </div>
        </div>
        <div class="portfolio-item-wrapper"><img src="/assets/img/portfolio/prue-aja@2x.jpg">
          <div class="portfolio-item-overlay">
            <img src="/assets/img/icons/line-down-dot-short-animated.svg">
            <h3>Prue Aja</h3>
            <h4>Logo</h4>
          </div>
        </div>
      </div>
    </section>

    <section id="fold5" class="solo">
      <div class="portfolio-item-wrapper"><img src="/assets/img/portfolio/st-gerrys@2x.jpg">
        <div class="portfolio-item-overlay">
          <img src="/assets/img/icons/line-down-dot-short-animated.svg">
          <h3>St Gerrys</h3>
          <h4>Branding</h4>
        </div>
      </div>
    </section>

    <section id="fold6" class="pair">
      <div>
        <div class="portfolio-item-wrapper"><img src="/assets/img/portfolio/colettewerden-logo@2x.jpg">
          <div class="portfolio-item-overlay">
            <img src="/assets/img/icons/line-down-dot-short-animated.svg">
            <h3>Colette Werden</h3>
            <h4>Branding</h4>
          </div>
        </div>
        <div class="portfolio-item-wrapper"><img src="/assets/img/portfolio/parklane@2x.jpg">
          <div class="portfolio-item-overlay">
            <img src="/assets/img/icons/line-down-dot-short-animated.svg">
            <h3>Park Lane</h3>
            <h4>Branding</h4>
          </div>
        </div>
      </div>
      <div class="portfolio-item-wrapper"><img src="/assets/img/portfolio/slices-restaurant@2x.jpg">
        <div class="portfolio-item-overlay">
          <img src="/assets/img/icons/line-down-dot-short-animated.svg">
          <h3>Slices Restaurant</h3>
          <h4>Website</h4>
        </div>
      </div>
    </section>

    <section id="fold7" class="solo">
      <div class="portfolio-item-wrapper"><img src="/assets/img/portfolio/readydoctor@2x.jpg">
        <div class="portfolio-item-overlay">
          <img src="/assets/img/icons/line-down-dot-short-animated.svg">
          <h3>Ready Doctor</h3>
          <h4>iOS App Design</h4>
        </div>
      </div>
    </section>

    <section id="fold8" class="three">
      <div class="portfolio-item-wrapper"><img src="/assets/img/portfolio/mata@2x.jpg">
        <div class="portfolio-item-overlay">
          <img src="/assets/img/icons/line-down-dot-short-animated.svg">
          <h3>MATA Protein</h3>
          <h4>Branding</h4>
        </div>
      </div>
      <div class="portfolio-item-wrapper"><img src="/assets/img/portfolio/indiefoods@2x.jpg">
        <div class="portfolio-item-overlay">
          <img src="/assets/img/icons/line-down-dot-short-animated.svg">
          <h3>Indie Foods</h3>
          <h4>Branding</h4>
        </div>
      </div>
      <div class="portfolio-item-wrapper"><img src="/assets/img/portfolio/thefinancialtherapist@2x.jpg">
        <div class="portfolio-item-overlay">
          <img src="/assets/img/icons/line-down-dot-short-animated.svg">
          <h3>The <br>Financial Therapist</h3>
          <h4>Branding</h4>
        </div>
      </div>
    </section>

    <section id="fold9" class="pair">
      <div class="portfolio-item-wrapper"><img src="/assets/img/portfolio/wildeblissfoods@2x.jpg">
        <div class="portfolio-item-overlay">
          <img src="/assets/img/icons/line-down-dot-short-animated.svg">
          <h3>Wilde Bliss Foods</h3>
          <h4>Logo and Packaging</h4>
        </div>
      </div>
      <div>
        <div class="portfolio-item-wrapper"><img src="/assets/img/portfolio/restoreayogamum-card@2x.jpg">
          <div class="portfolio-item-overlay">
            <img src="/assets/img/icons/line-down-dot-short-animated.svg">
            <h3>Restore A Yoga Mum</h3>
            <h4>Quote Cards</h4>
          </div>
        </div>
        <div class="portfolio-item-wrapper"><img src="/assets/img/portfolio/seed-training@2x.jpg">
          <div class="portfolio-item-overlay">
            <img src="/assets/img/icons/line-down-dot-short-animated.svg">
            <h3>Seed Training</h3>
            <h4>Logo Design</h4>
          </div>
        </div>
      </div>
    </section>

    <section id="fold10" class="solo">
      <div class="portfolio-item-wrapper"><img src="/assets/img/portfolio/target.jpg">
        <div class="portfolio-item-overlay">
          <img src="/assets/img/icons/line-down-dot-short-animated.svg">
          <h3>Target</h3>
          <h4>Illustrations</h4>
        </div>
      </div>
    </section>

  {{/replace}}
{{/extend}}
