{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Hannah Sutton Design</title>
    <meta name="description" content="Hannah Sutton Design website">
  {{/replace}}

  {{#replace "body-id"}}portfolio{{/replace}}

  {{#replace "main"}}

    <section id="fold1" class="pair">
      <div>
        <div class="portfolio-item-wrapper">
          <img src="/assets/img/portfolio/waltermelon@2x.jpg">

          <div class="portfolio-item-overlay">
            <img src="/assets/img/landing/line-down-dot.svg">
            <h3>Walter Melon</h3>
            <h4>Branding</h4>
          </div>

        </div>
        <div class="portfolio-item-wrapper">
          <img src="/assets/img/portfolio/bagel&shakeco@2x.jpg">
          <div class="portfolio-item-overlay">
            <img src="/assets/img/landing/line-down-dot.svg">
            <h3>Bagel &amp; Shake Co</h3>
            <h4>Branding</h4>
          </div>
        </div>
      </div>
      <div class="portfolio-item-wrapper"><img src="/assets/img/portfolio/finsecptx@2x.jpg">
        <div class="portfolio-item-overlay">
          <img src="/assets/img/landing/line-down-dot.svg">
          <h3>FinsecPTX</h3>
          <h4>Website</h4>
        </div>
      </div>
    </section>

    <section id="fold2" class="solo">
      <div class="portfolio-item-wrapper"><img src="/assets/img/portfolio/dodo@2x.jpg">
        <div class="portfolio-item-overlay">
          <img src="/assets/img/landing/line-down-dot.svg">
          <h3>Dodo Book</h3>
          <h4>Illustration</h4>
        </div>
      </div>
    </section>

    <section id="fold3" class="three">
      <div class="portfolio-item-wrapper"><img src="/assets/img/portfolio/cosmetic-avenue@2x.jpg">
        <div class="portfolio-item-overlay">
          <img src="/assets/img/landing/line-down-dot.svg">
          <h3>Cosmetic Avenue</h3>
          <h4>Branding</h4>
        </div>
      </div>
      <div class="portfolio-item-wrapper"><img src="/assets/img/portfolio/frost-bites@2x.jpg">
        <div class="portfolio-item-overlay">
          <img src="/assets/img/landing/line-down-dot.svg">
          <h3>Frost Bites</h3>
          <h4>Branding</h4>
        </div>
      </div>
      <div class="portfolio-item-wrapper"><img src="/assets/img/portfolio/karen-williams@2x.jpg">
        <div class="portfolio-item-overlay">
          <img src="/assets/img/landing/line-down-dot.svg">
          <h3>Karen Williams</h3>
          <h4>Logo and Business cards</h4>
        </div>
      </div>
    </section>

    <section id="fold4" class="pair">
      <div class="portfolio-item-wrapper"><img src="/assets/img/portfolio/red-dust@2x.jpg">
        <div class="portfolio-item-overlay">
          <img src="/assets/img/landing/line-down-dot.svg">
          <h3>Red Dust</h3>
          <h4>Website</h4>
        </div>
      </div>
      <div>
        <div class="portfolio-item-wrapper"><img src="/assets/img/portfolio/restoreayogamum@2x.jpg">
          <div class="portfolio-item-overlay">
            <img src="/assets/img/landing/line-down-dot.svg">
            <h3>Restore A Yoga Mum</h3>
            <h4>Branding</h4>
          </div>
        </div>
        <div class="portfolio-item-wrapper"><img src="/assets/img/portfolio/prue-aja@2x.jpg">
          <div class="portfolio-item-overlay">
            <img src="/assets/img/landing/line-down-dot.svg">
            <h3>Prue Aja</h3>
            <h4>Branding</h4>
          </div>
        </div>
      </div>
    </section>

    <section id="fold5" class="solo">
      <div class="portfolio-item-wrapper"><img src="/assets/img/portfolio/st-gerrys@2x.jpg"></div>
    </section>

    <section id="fold6" class="pair">
      <div>
        <div class="portfolio-item-wrapper"><img src="/assets/img/portfolio/colettewerden-logo@2x.jpg"></div>
        <div class="portfolio-item-wrapper"><img src="/assets/img/portfolio/parklane@2x.jpg"></div>
      </div>
      <div class="portfolio-item-wrapper"><img src="/assets/img/portfolio/slices-restaurant@2x.jpg"></div>
    </section>

    <section id="fold7" class="solo">
      <div class="portfolio-item-wrapper"><img src="/assets/img/portfolio/readydoctor@2x.jpg"></div>
    </section>

    <section id="fold8" class="three">
      <div class="portfolio-item-wrapper"><img src="/assets/img/portfolio/mata@2x.jpg"></div>
      <div class="portfolio-item-wrapper"><img src="/assets/img/portfolio/indiefoods@2x.jpg"></div>
      <div class="portfolio-item-wrapper"><img src="/assets/img/portfolio/thefinancialtherapist@2x.jpg"></div>
    </section>

    <section id="fold9" class="pair">
      <div class="portfolio-item-wrapper"><img src="/assets/img/portfolio/wildeblissfoods@2x.jpg"></div>
      <div>
        <div class="portfolio-item-wrapper"><img src="/assets/img/portfolio/restoreayogamum-card@2x.jpg"></div>
        <div class="portfolio-item-wrapper"><img src="/assets/img/portfolio/seed-training@2x.jpg"></div>
      </div>
    </section>

    <section id="fold10" class="solo">
      <div class="portfolio-item-wrapper"><img src="/assets/img/portfolio/target.jpg"></div>
    </section>

  {{/replace}}
{{/extend}}
