{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Portfolio - Karen Williams</title>
    <meta name="description" content="Karen Williams is a coach, trainer &amp; facilitator who <br>looks deeper than the surface. Together we created a beautiful brand that demonstrates her searching, quiet and contemplative nature (and her love of Antarctica, which fit so perfectly). <br>This project included logo &amp; website design, stationery &amp; promotional materials.</h3>">
  {{/replace}}

  {{#replace "body-id"}}project-karen-williams{{/replace}}

  {{#replace "main"}}

    <section id="hero">
      <div>
        <ul id="sliding-cards">
          <li>
            <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
            <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
            <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
            <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
            <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
            <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
            <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
            <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
          </li>
          <li>
            <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
            <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
            <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
            <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
            <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
            <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
            <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
            <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
          </li>
          <li>
            <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
            <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
            <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
            <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
            <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
            <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
            <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
            <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
          </li>
          <li>
            <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
            <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
            <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
            <img class="feature-card" src="/assets/img/landing/karen-williams/card-flat-back.jpg">
            <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
            <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
            <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
            <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
          </li>
          <li>
            <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
            <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
            <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
            <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
            <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
            <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
            <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
            <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
          </li>
          <li>
            <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
            <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
            <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
            <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
            <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
            <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
            <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
            <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
          </li>
          <li>
            <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
            <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
            <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
            <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
            <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
            <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
            <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
            <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
          </li>
          <li>
            <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
            <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
            <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
            <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
            <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
            <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
            <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
            <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
          </li>
        </ul>
      </div>
    </section>

    <section id="details">
      <div>
        <img src="/assets/img/icons/line-down_animated.svg">
        <h2>Karen Williams is a coach, <br>trainer &amp; facilitator who <br>looks deeper than the surface.</h2>
        <img src="/assets/img/icons/line-down-dot-short-animated.svg">
        <h3>Together we created a beautiful brand that <br>demonstrates her searching, quiet and <br>contemplative nature (and her love of <br>Antarctica, which fit so perfectly). <br>This project included logo &amp; website design, <br>stationery &amp; promotional materials.</h3>
        <img src="/assets/img/icons/small-arrow-down-animated.svg">
      </div>
    </section>

    <section id="image-display">
      <div>
        <img src="/assets/img/portfolio/karen-williams/logo@2x.jpg">
        <img src="/assets/img/portfolio/karen-williams/imac@2x.jpg">
      </div>
    </section>

    <section id="banner">
      <div>
        <h2>Listening to understand - the start to <br>meaningful branding for individuals.</h2>
      </div>
    </section>

    <section id="hero2">
      <div>
        <img src="/assets/img/portfolio/karen-williams/website-flat@2x.png">
      </div>
    </section>

    {{> portfolio-footer}}

  {{/replace}}
{{/extend}}
