{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Hannah Sutton Design</title>
    <meta name="description" content="Hannah Sutton Design website">
  {{/replace}}

  {{#replace "body-id"}}feature-project{{/replace}}

  {{#replace "main"}}

    <section id="hero">
      <div>
        <img src="/assets/img/portfolio/">
      </div>
    </section>

    <section id="details">
      <div>
        <img src="/assets/img/icons/">
        <h2></h2>
        <img src="/assets/img/icons/">
        <h3></h3>
        <img src="/assets/img/icons/">
      </div>
    </section>

    <section id="image-display">
      <div>
        <div>
          <img src="/assets/img/portfolio/">
          <img src="/assets/img/portfolio/">
        </div>
        <img src="/assets/img/portfolio/">
      </div>
    </section>

    <section id="banner">
      <div>
        <h2></h2>
      </div>
    </section>

    <section id="hero">
      <div>
        <img src="/assets/img/portfolio/">
      </div>
    </section>

    <section id="project-footer">
      <div>
        <h2>Get in touch</h2>
        <a href="mailto:create@hannahsuttondesign.com">create@hannahsuttondesign.com</a>
      </div>
    </section>

  {{/replace}}
{{/extend}}
