{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Hannah Sutton Design</title>
    <meta name="description" content="Hannah Sutton Design website">
  {{/replace}}

  {{#replace "body-id"}}about{{/replace}}

  {{#replace "main"}}

    <section id="hero">
      <div>
        <div id="title">
          <h2>Hatching<span>good ideas.</span></h2>
        </div>
      </div>
    </section>

    <section id="purpose">
      <div>
        <ul>
          <li>
            <h2>Since 2009 I have been working alongside businesses to create beautiful design work that effectively tells their story.</h2>
            <img src="/assets/img/about/line-down-dot.svg">
          </li>
          <li>
            <h4>I believe in</h4>
            <h3>Listening &amp; understanding <br>as the key to a great <br>partnership.</h3>
            <img src="/assets/img/about/line-down-dot.svg">
          </li>
          <li>
            <h3>Working hard to produce <br>consistently excellent <br>creative work.</h3>
            <img src="/assets/img/about/line-down-dot.svg">
          </li>
          <li>
            <h3>Thinking like an artist to <br>give each piece of design <br>a soul of it's own.</h3>
            <img src="/assets/img/about/line-down-dot.svg">
          </li>
          <li>
            <h3>Having the experience to liase with &amp; <br>design everything from billboard <br>signage for international companies <br>to apps for startups.</h3>
            <img src="/assets/img/about/line-down-dot.svg">
          </li>
        </ul>
      </div>
    </section>

    <section id="incredibles">
      <div>
        <h2>The Incredibles</h2>
        <h4>People I team up with to make magic happen</h4>

        <ul>
          <li>
            <img src="/assets/img/about/jan-werkhoven@2x.jpg">
            <h3>Jan Werkhoven</h3>
            <h4>Senior web developer</h4>
            <p>Jan (That's 'Yaan' if you're an Aussie) is a Belgian front-end developer &amp; web designer. After building sites from scratch in Belgium, he now writes beautiful code full time for startups in Melbourne. In his part time, he's Melbourne's
              bigggest foodie.</p>
            <a href="#"><h4>www.nabu.io</h4></a>
          </li>
          <li>
            <img src="/assets/img/about/richard-verheyen@2x.jpg">
            <h3>Richard Verheyen</h3>
            <h4>Web developer</h4>
            <p>A coding gun and digital nomad, Richard wanders the earth in search for websites to beautify. No job is too tricky for this young front-end developer - he specialises in challenging custom built sites.</p>
            <a href="#"><h4>View Richard's Github</h4></a>
          </li>
          <li>
            <img src="/assets/img/about/prue-aja@2x.jpg">
            <h3>Prue Aja</h3>
            <h4>Photographer</h4>
            <p>The talented woman who photographed me for this website is a specialist in personal branding photography. I've had the pleasure of working with her in many client photoshoots and she makes us all look &amp; feel a million dollars.</p>
            <a href="#"><h4>www.prueaja.com.au</h4></a>
          </li>
        </ul>
      </div>
    </section>

    <section id="the-egg">
      <div>
        <img src="/assets/img/about/egg.svg">
        <h2>About the egg.</h2>
        <p>Considered the symbol of a good idea. As a child, my father would tell me that a creative person is like the goose that lays the golden egg. Good ideas are precious, but our life's work as creatives is to continue producing our best work. Every
          idea you bring into the world should be a worthy golden egg.</p>
      </div>
    </section>

    <section id="services-link">
      <div>
        <a href="/services/">
          <h2 class="pseudo-right-arrow">Services</h2>
        </a>
      </div>
    </section>

    <section id="instagram">
      <div>
        <h2>Instagram Stories</h2>
        <a href="https://www.instagram.com/hannah_sutton_design/">Follow</a>
        <div id="instafeed"></div>
      </div>
    </section>

  {{/replace}}
{{/extend}}
