{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Hannah Sutton Design</title>
    <meta name="description" content="Hannah Sutton Design website">
  {{/replace}}

  {{#replace "body-id"}}landing{{/replace}}

  {{#replace "main"}}

    <section id="hero">
      <div>
        <div id="title">
          <h2>I make this <span>look good.</span></h2>
        </div>
      </div>
    </section>

    <section id="intro">
      <div>
        <div>
          <img src="/assets/img/landing/h-dropcap.svg" alt="H">
          <p>annah Sutton is a graphic designer from Melbourne, Australia. <br>She works passionately with the Entrepreneurs and growing businesses of the world to blossom thoughtful, creative branding that makes their business communicate clearly, look
            incredible, and makes them proud to do what they do. Her lovingly sharpened brand toolkit consists of...</p>
        </div>
        <div id="arrow-bracket">
          <h3 class="graphic-design">Graphic Design</h3>
          <h3 class="websites">Websites</h3>
          <h3 class="illustration">Illustration</h3>
          <img src="/assets/img/landing/bracket-arrow.svg">
        </div>
        <h2>One g<span>ood-lookin</span>g business</h2>
      </div>
    </section>

    <section id="feature-projects">
      <div>
        <h2>Feature Projects</h2>
        <div>
          <a class="pseudo-right-arrow" href="/portfolio">Full Portfolio</a>
        </div>
      </div>

      <ul>

        <li id="cosmetic-avenue">
          <div>
            <img class="background" src="/assets/img/landing/cosmetic-avenue/background-texture.png">

            <div class="aside">
              <img class="line-down" src="/assets/img/landing/line-down.svg">
              <h3>Branding for a new <br/>cosmetic surgery clinic <br/>in Melbourne</h3>
              <img class="line-dot" src="/assets/img/landing/line-down-dot.svg">

              <ul>
                <li>Logo</li>
                <li>Signage</li>
                <li>Website Elements</li>
                <li>Social Media Design</li>
                <li>Print Collateral</li>
              </ul>
              <img class="flipper" src="/assets/img/landing/small-arrow-down.svg">

              <!-- <a href="/portfolio/cosmetic-avenue/">See full project</a> -->
            </div>
            <div class="images">
              <img id="ca-image" class="animateFadeInRight" src="/assets/img/landing/cosmetic-avenue/logo@2x.png" alt="">
            </div>
          </div>
        </li>

        <li id="jeep">
          <div>
            <img class="background" src="/assets/img/landing/jeep/background-texture.jpg">

            <div class="aside">
              <img class="line-down" src="/assets/img/landing/line-down.svg">
              <h3>Jeep anniversary <br/>wrap promo</h3>
              <img class="line-dot" src="/assets/img/landing/line-down-dot.svg">

              <ul>
                <li>Illustration</li>
                <li>Vehicle Signage</li>
              </ul>
              <img class="flipper" src="/assets/img/landing/small-arrow-down.svg">

              <!-- <a href="/portfolio/jeep/">See full project</a> -->
            </div>
            <div class="images">
              <img id="jeep-image" class="animateFadeInLeft" src="/assets/img/landing/jeep/jeep@2x.png" alt="">
            </div>
          </div>
        </li>

        <li id="finsec">
          <div>
            <img class="background" src="/assets/img/landing/finsec/background.jpg">

            <div class="aside">
              <img class="line-down" src="/assets/img/landing/line-down.svg">
              <h3>A website to <br/>establish a leader <br/>in their field</h3>
              <img class="line-dot" src="/assets/img/landing/line-down-dot.svg">

              <ul>
                <li>Web Design</li>
                <li>Web Development</li>
              </ul>
              <img class="flipper" src="/assets/img/landing/small-arrow-down.svg">

              <!-- <a href="/portfolio/finsec/">See full project</a> -->
            </div>
            <div class="images">
              <div>
                <img src="/assets/img/landing/finsec/finsec-imac@2x.png" alt="">
                <img src="/assets/img/landing/finsec/finsec-ipad@2x.png" alt="">
                <img src="/assets/img/landing/finsec/finsec-iphone@2x.png" alt="">
              </div>
            </div>
          </div>
        </li>

        <li id="karen-williams">
          <div>
            <ul id="sliding-cards">
              <li class="right">
                <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
                <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
                <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
                <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
                <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
                <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
                <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
                <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
              </li>
              <li class="left">
                <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
                <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
                <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
                <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
                <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
                <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
                <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
                <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
              </li>
              <li class="right">
                <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
                <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
                <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
                <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
                <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
                <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
                <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
                <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
              </li>
              <li class="left">
                <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
                <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
                <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
                <img class="feature-card-mobile" src="/assets/img/landing/karen-williams/card-flat-back.jpg">
                <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
                <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
                <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
                <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
                <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
              </li>
              <li class="right">
                <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
                <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
                <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
                <img class="feature-card" src="/assets/img/landing/karen-williams/card-flat-back.jpg">
                <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
                <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
                <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
                <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
                <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
              </li>
              <li class="left">
                <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
                <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
                <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
                <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
                <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
                <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
                <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
                <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
              </li>
              <li class="right">
                <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
                <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
                <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
                <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
                <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
                <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
                <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
                <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
              </li>
              <li class="left">
                <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
                <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
                <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
                <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
                <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
                <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
                <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
                <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
              </li>
              <li class="right">
                <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
                <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
                <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
                <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
                <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
                <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
                <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
                <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
              </li>
              <li class="left">
                <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
                <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
                <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
                <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
                <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
                <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
                <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
                <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
              </li>

            </ul>
            <img class="background" src="/assets/img/landing/karen-williams/background-overlay.png">

            <div class="aside">
              <img class="line-down" src="/assets/img/landing/line-down.svg">
              <h3>Branding for a <br/>coach &amp; facilitator <br/>who goes much deeper <br/>than the surface</h3>
              <img class="line-dot" src="/assets/img/landing/line-down-dot.svg">

              <ul>
                <li>Logo</li>
                <li>Web Design</li>
                <li>Web Development</li>
                <li>Stationery</li>
              </ul>
              <img class="flipper" src="/assets/img/landing/small-arrow-down.svg">

              <!-- <a href="/portfolio/karen-williams/">See full project</a> -->
            </div>
            <div class="images">
            </div>
          </div>
        </li>

      </ul>
    </section>

    <section id="too-damn-hard">
      <div>
        <h2>"We work too damn hard to <br/>accept looking ordinary"</h2>
        <p>Time to make this look good</p>
      </div>
    </section>

    <section id="tell-me-more">
      <div>
        <h2>Tell me more</h2>
        <div id="arrow-bracket-reverse">
          <a href="/about/" class="about">About</a>
          <a href="/services/" class="services">Services</a>
          <a href="#" class="contact-button">Contact</a>
          <img src="/assets/img/landing/bracket-arrow-reverse.svg">
        </div>
      </div>
    </section>

    <section id="instagram">
      <div>
        <h2>Instagram Stories</h2>
        <a href="#">Follow</a>
        <div id="instafeed"></div>
      </div>
    </section>

  {{/replace}}
{{/extend}}
