{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Hannah Sutton Design</title>
    <meta name="description" content="Hannah Sutton Design website">
  {{/replace}}

  {{#replace "body-id"}}landing{{/replace}}

  {{#replace "main"}}

    {{> landing-parallax}}

    <section id="hero">
      <div>
        <div id="title">
          <h2>I make this <span>look good.</span></h2>
        </div>
      </div>
    </section>

    <section id="intro">
      <div>
        <div>
          <img src="/assets/img/landing/h-dropcap.svg" alt="H">
          <p>annah Sutton is a graphic designer from Melbourne, Australia. <br>She works passionately with the Entrepreneurs and growing businesses of the world to blossom thoughtful, creative branding that makes their business communicate clearly, look
            incredible, and makes them proud to do what they do. Her lovingly sharpened brand toolkit consists of...</p>
        </div>
        <div id="arrow-bracket">
          <h3 class="graphic-design">Graphic Design</h3>
          <h3 class="websites">Websites</h3>
          <h3 class="illustration">Illustration</h3>
          <img src="/assets/img/icons/bracket-arrow_animated.svg">
        </div>
        <h2>One g<span>ood-lookin</span>g business</h2>
      </div>
    </section>

    <section id="feature-projects">
      <div>
        <h2>Feature Projects</h2>
        <div>
          <a class="pseudo-right-arrow" href="/portfolio">Full Portfolio</a>
        </div>
      </div>

      <ul>
        {{> fold-cosmetic-avenue}} {{> fold-jeep}} {{> fold-finsec}} {{> fold-karen-williams}}
      </ul>

    </section>

    <section id="too-damn-hard">
      <div>
        <h2>"We work too damn hard to <br/>accept looking ordinary"</h2>
        <p>Time to make this look good</p>
      </div>
    </section>

    <section id="tell-me-more">
      <div>
        <h2>Tell me more</h2>
        <div id="arrow-bracket-reverse">
          <a href="/about/" class="about">About</a>
          <a href="/services/" class="services">Services</a>
          <a href="#" class="contact-button">Contact</a>
          <img src="/assets/img/icons/bracket-arrow-reverse_animated.svg">
        </div>
      </div>
    </section>

    <section id="instagram">
      <div>
        <h2>Instagram Stories</h2>
        <a href="https://www.instagram.com/hannah_sutton_design/">Follow</a>
        <div id="instafeed"></div>
      </div>
    </section>

  {{/replace}}
{{/extend}}
