{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Hannah Sutton Design</title>
    <meta name="description" content="Hannah Sutton Design website">
  {{/replace}}

  {{#replace "body-id"}}services{{/replace}}

  {{#replace "main"}}

    <section id="services-section">
      <div>
        <h2>Services</h2>
        <img src="/assets/img/services/egg.svg">
        <img src="/assets/img/services/bracket-design.svg">
      </div>
    </section>

    <section id="graphic-design">
      <div>
        <h2>Graphic design</h2>
        <img src="/assets/img/services/bracket-design-middle.svg">
        <div>
          <ul>
            <h4>Branding</h4>
            <img src="/assets/img/services/arrow-down.svg">
            <li>Logo</li>
            <li>Style Guide</li>
            <li>Advertising</li>
          </ul>
          <ul>
            <h4>Digital</h4>
            <img src="/assets/img/services/arrow-down.svg">
            <li>UI/UX Design</li>
            <li>App Design</li>
            <li>Social Media</li>
          </ul>
          <ul>
            <h4>Print</h4>
            <img src="/assets/img/services/arrow-down.svg">
            <li>Stationery</li>
            <li>Brochures</li>
            <li>Packaging</li>
            <li>Signage</li>
          </ul>
        </div>
      </div>
    </section>

    <section id="websites">
      <div>
        <img src="">
        <h2>Websites</h2>
        <img src="/assets/img/services/bracket-web.svg">
        <div>
          <ul>
            <h4>Custom Built</h4>
            <img src="/assets/img/services/arrow-down.svg">
            <li>Custom Design</li>
            <li>Development</li>
            <li>Mobile First</li>
            <li>Animation</li>
            <li>Lighting Page Loads</li>
            <li>Hosting</li>
            <li>SEO Optimisation</li>
          </ul>
          <ul>
            <h4>Squarespace</h4>
            <img src="/assets/img/services/arrow-down.svg">
            <li>Design</li>
            <li>Development</li>
            <li>Client Access</li>
            <li>Blog Scheduling</li>
            <li>MailChimp</li>
            <li>E-Commerce</li>
          </ul>
        </div>
      </div>
    </section>

    <section id="illustration">
      <div layer-data="1" class="parallax layer-1">
        <div>
          <img src="/assets/img/services/sad-girl.svg">
          <img src="/assets/img/services/drink.svg">
        </div>
      </div>
      <div layer-data="3" class="parallax layer-2">
        <div>
          <img src="/assets/img/services/2girls.svg">
          <img src="/assets/img/services/girl.svg">
        </div>
      </div>
      <div layer-data="4" class="parallax layer-3">
        <div>
          <img src="/assets/img/services/kangaroo.svg">
          <img src="/assets/img/services/donut.svg">
        </div>
      </div>
      <div layer-data="9" class="parallax layer-4">
        <div>
          <img src="/assets/img/services/1594005B751DB1F.png">
          <img src="/assets/img/services/1594005B751DB1F.png">
          <img src="/assets/img/services/1594005B751DB1F.png">
          <img src="/assets/img/services/1594005B751DB1F.png">
          <img src="/assets/img/services/1594005B751DB1F.png">
        </div>
      </div>
      <div layer-data="13" class="parallax layer-5">
        <div>
          <img src="/assets/img/services/D4DDB3D453E48822.png">
          <img src="/assets/img/services/D4DDB3D453E48822.png">
          <img src="/assets/img/services/D4DDB3D453E48822.png">
          <img src="/assets/img/services/D4FABE0D40D43634.png">
          <img src="/assets/img/services/D4FABE0D40D43634.png">
          <img src="/assets/img/services/D4FABE0D40D43634.png">
        </div>
      </div>
      <div layer-data="18" class="parallax layer-6">
        <div>
          <img src="/assets/img/services/5A1643F6A44D24F1.png">
          <img src="/assets/img/services/5A1643F6A44D24F1.png">
          <img src="/assets/img/services/5A1643F6A44D24F1.png">
          <img src="/assets/img/services/5A1643F6A44D24F1.png">
        </div>
      </div>
      <div class="text-content">
        <img src="">
        <h2>Illustration</h2>
        <img src="">
        <div>
          <ul>
            <h4>Branding with an artistic flair</h4>
            <img src="/assets/img/services/line-down.svg">
            <li>Infographics</li>
            <li>Book illustration</li>
            <li>Decorative</li>
            <li>Packaging</li>
          </ul>
        </div>
      </div>
    </section>

    <section id="contact">
      <div>
        <a class="contact-button" href="#"><h2 class="pseudo-right-arrow">Contact</h2></a>
      </div>
    </section>

    <section id="instagram">
      <div>
        <h2>Instagram Stories</h2>
        <a href="#">Follow</a>
        <div id="instafeed"></div>
      </div>
    </section>

  {{/replace}}
{{/extend}}
