<li id="cosmetic-avenue" class="parallax-section">
  <div>
    <div class="aside">
      <img class="line-down" src="/assets/img/icons/line-down_animated.svg">
      <h3>Branding for a new <br/>cosmetic surgery clinic <br/>in Melbourne</h3>
      <img class="line-dot" src="/assets/img/icons/line-down-dot-short-animated.svg">

      <ul>
        <li>Logo</li>
        <li>Signage</li>
        <li>Website Elements</li>
        <li>Social Media Design</li>
        <li>Print Collateral</li>
      </ul>
      <img class="flipper" src="/assets/img/icons/small-arrow-down_animated.svg">

      <a href="/feature-project/cosmetic-avenue/">See full project</a>
    </div>
    <div class="images">
      <img id="ca-image" class="animateFadeInRight" src="/assets/img/landing/cosmetic-avenue/logo@2x.png" alt="">
    </div>
  </div>
</li>
