<li id="karen-williams">
  <div>
    <ul id="sliding-cards">
      <li>
        <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
        <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
        <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
        <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
        <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
        <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
        <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
        <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
      </li>
      <li>
        <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
        <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
        <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
        <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
        <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
        <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
        <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
        <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
      </li>
      <li>
        <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
        <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
        <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
        <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
        <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
        <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
        <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
        <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
      </li>
      <li>
        <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
        <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
        <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
        <img class="feature-card-mobile" src="/assets/img/landing/karen-williams/card-flat-back.jpg">
        <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
        <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
        <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
        <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
        <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
      </li>
      <li>
        <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
        <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
        <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
        <img class="feature-card" src="/assets/img/landing/karen-williams/card-flat-back.jpg">
        <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
        <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
        <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
        <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
        <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
      </li>
      <li>
        <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
        <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
        <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
        <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
        <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
        <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
        <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
        <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
      </li>
      <li>
        <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
        <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
        <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
        <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
        <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
        <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
        <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
        <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
      </li>
      <li>
        <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
        <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
        <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
        <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
        <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
        <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
        <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
        <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
      </li>
      <li>
        <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
        <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
        <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
        <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
        <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
        <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
        <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
        <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
      </li>
      <li>
        <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
        <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
        <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
        <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
        <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
        <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
        <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
        <img src="/assets/img/landing/karen-williams/card-flat-front.jpg">
      </li>

    </ul>
    <img class="background" src="/assets/img/landing/karen-williams/background-overlay.png">

    <div class="aside">
      <img class="line-down" src="/assets/img/icons/line-down_animated.svg">
      <h3>Branding for a <br/>coach &amp; facilitator <br/>who goes much deeper <br/>than the surface</h3>
      <img class="line-dot" src="/assets/img/icons/line-down-dot-short-animated.svg">

      <ul>
        <li>Logo</li>
        <li>Web Design</li>
        <li>Web Development</li>
        <li>Stationery</li>
      </ul>
      <img class="flipper" src="/assets/img/icons/small-arrow-down_animated.svg">

      <a href="/feature-project/karen-williams/">See full project</a>
    </div>
    <div class="images">
    </div>
  </div>
</li>
