<li id="jeep">
  <div>
    <div class="parallaxBackground"></div>

    <div class="aside">
      <img class="line-down" src="/assets/img/icons/line-down_animated.svg">
      <h3>Jeep anniversary <br/>wrap promo</h3>
      <img class="line-dot" src="/assets/img/icons/line-down-dot-short-animated.svg">

      <ul>
        <li>Illustration</li>
        <li>Vehicle Signage</li>
      </ul>
      <img class="flipper" src="/assets/img/icons/small-arrow-down_animated.svg">

      <a href="/feature-project/jeep/">See full project</a>
    </div>
    <div class="images">
      <img id="jeep-image" src="/assets/img/landing/jeep/jeep@2x.png" alt="">
    </div>
  </div>
</li>
