<li id="finsec">
  <div>
    <div class="aside">
      <img class="line-down" src="/assets/img/icons/line-down_animated.svg">
      <h3>A website to <br/>establish a leader <br/>in their field</h3>
      <img class="line-dot" src="/assets/img/icons/line-down-dot-short-animated.svg">
      <ul>
        <li>Web Design</li>
        <li>Web Development</li>
      </ul>
      <img class="flipper" src="/assets/img/icons/small-arrow-down_animated.svg">
      <a href="/feature-project/finsec/">See full project</a>
    </div>
    <div class="images">
      <div>
        {{!-- The <picture> element does not exist on IE. Instead it will fallback to the <img> --}}
        {{!-- The imac is always 35vw wide with a minimum of 205px. That means on screens 1000px wide the image needs to be 1000px/0.35vw = 350px wide. --}}
        <picture id="imac">
          <source srcset="/assets/img/landing/finsec/finsec-imac-225x219.png" media="(max-width: 642px)">
          <source srcset="/assets/img/landing/finsec/finsec-imac-300x292.png" media="(max-width: 857px)">
          <source srcset="/assets/img/landing/finsec/finsec-imac-400x389.png" media="(max-width: 1142px)">
          <source srcset="/assets/img/landing/finsec/finsec-imac-500x487.png" media="(max-width: 1428px)">
          <source srcset="/assets/img/landing/finsec/finsec-imac-600x584.png" media="(max-width: 1714px)">
          <source srcset="/assets/img/landing/finsec/finsec-imac-700x681.png" media="(max-width: 2000px)">
          <source srcset="/assets/img/landing/finsec/finsec-imac-800x779.png" media="(max-width: 2258px)">
          <img src="/assets/img/landing/finsec/finsec-imac-1000x974.png" alt="iMac screen with responsive Finsec PTX website designed by Hannah Sutton">
        </picture>

        {{!-- The ipad is always 46% of 35vw with a minimum of 94px --}}
        <picture id="ipad">
          <source srcset="/assets/img/landing/finsec/finsec-ipad-94x116.png" media="(max-width: 583px)">
          <source srcset="/assets/img/landing/finsec/finsec-ipad-150x185.png" media="(max-width: 931px)">
          <source srcset="/assets/img/landing/finsec/finsec-ipad-200x246.png" media="(max-width: 1242px)">
          <source srcset="/assets/img/landing/finsec/finsec-ipad-250x308.png" media="(max-width: 1552px)">
          <source srcset="/assets/img/landing/finsec/finsec-ipad-300x370.png" media="(max-width: 1863px)">
          <img src="/assets/img/landing/finsec/finsec-ipad-460x568.png" alt="iPad with responsive Finsec PTX website designed by Hannah Sutton">
        </picture>

        {{!-- The iphone is always 20% of 35vw with min width of 50px --}}
        <picture id="iphone">
          <source srcset="/assets/img/landing/finsec/finsec-iphone-50x89.png" media="(max-width: 714px)">
          <source srcset="/assets/img/landing/finsec/finsec-iphone-100x178.png" media="(max-width: 1428px)">
          <source srcset="/assets/img/landing/finsec/finsec-iphone-150x267.png" media="(max-width: 2142px)">
          <img src="/assets/img/landing/finsec/finsec-iphone-200x356.png" alt="iPhone with responsive Finsec PTX website designed by Hannah Sutton">
        </picture>
      </div>
    </div>
  </div>
</li>
