<header>
  <div>
    <div id="menu-link">
      <a href="#">menu</a>
    </div>

    <div id="logo" class="active">
      <a href="/">
        <div id="logo-left">
          <h1>Hannah</h1>
        </div>
        <img src="/assets/img/header/egg@2x.png">
        <div id="logo-right">
          <h1>Sutton</h1>
        </div>
      </a>
    </div>

    <div id="social-media">
      <a href="#"><img src="/assets/img/header/instagram.svg"></a>
      <a href="#"><img src="/assets/img/header/facebook.svg"></a>
      <a href="#"><img src="/assets/img/header/linkedin.svg"></a>
    </div>
  </div>
</header>
