<section id="menu">
  <div>

    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/portfolio/">Portfolio</a>
      </li>
      <li>
        <a href="/about/">About</a>
      </li>
      <li>
        <a href="/services/">Services</a>
      </li>
    </ul>

    <h2>Hannah Sutton Design</h2>
    <p>Melbourne, Australia</p>
    <a href="mailto:create@hannahsuttondesign.com">create@hannahsuttondesign.com</a>
    <a href="tel:+61428226905">m +61 (0) 428 226 905</a>

  </div>
</section>
