<section id="menu">
  <div>

    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/portfolio/">Portfolio</a>
      </li>
      <li>
        <a href="/about/">About</a>
      </li>
      <li>
        <a href="/services/">Services</a>
      </li>
    </ul>

    <h2>Hannah Sutton Design</h2>
    <h3>Melbourne, Australia</h3>
    <a target="_blank" href="mailto:create@hannahsuttondesign.com">create@hannahsuttondesign.com</a>
    <a target="_blank" class="tel-link" href="tel:+61458226905">m +61 (0) 458 226 905</a>
    <p>Portrait Photography by Prue Aja</p>
    <p>Photos of Hannah shot on location at Vintage House Daylesford - Interior Design by Kali Cavanagh</p>

  </div>
</section>
