<section id="project-footer">
  <div>
    <h2>Get in touch</h2>
    <a class="left" href="#">Full Portfolio</a>
    <a href="mailto:create@hannahsuttondesign.com">create@hannahsuttondesign.com</a>
    <a class="right" href="#">Next Project</a>
  </div>
</section>
