{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Hannah Sutton Design</title>
    <meta name="description" content="Hannah Sutton Design website">
  {{/replace}}

  {{#replace "body-id"}}project-cosmetic-avenue{{/replace}}

  {{#replace "main"}}

    <section id="hero">
      <div>
        <img src="/assets/img/portfolio/cosmetic-avenue/hero.jpg">
      </div>
    </section>

    <section id="details">
      <div>
        <img src="/assets/img/icons/line-down_animated.svg">
        <h2>Cosmetic Avenue are establishing <br>themselves as Melbourne’s highest <br>quality and affordable cosmetic <br>surgery clinic.</h2>
        <img src="/assets/img/icons/line-down-dot-short-animated.svg">
        <h3>Launched in 2016, this branding project started with the design of a logo &amp; symbol that represented the freedom of confidence. We went on to design brochures, a website and social media campaigns that were creative, beautiful &amp; consistent.</h3>
        <h3>website development &amp; it services: i2Biz</h3>
        <img src="/assets/img/icons/small-arrow-down-animated.svg">
      </div>
    </section>

    <section id="image-display">
      <div>
        <div>
          <img src="/assets/img/portfolio/cosmetic-avenue/booklet@2x.jpg">
          <img src="/assets/img/portfolio/cosmetic-avenue/booklet-open@2x.jpg">
        </div>
        <img src="/assets/img/portfolio/cosmetic-avenue/imac.jpg">
      </div>
    </section>

    <section id="banner">
      <div>
        <h2>Striking &amp; unique signage that <br>catches the attention of every passer by.</h2>
      </div>
    </section>

    <section id="hero">
      <div>
        <img src="/assets/img/portfolio/cosmetic-avenue/signage@2x.jpg">
      </div>
    </section>

    {{> portfolio-footer}}

  {{/replace}}
{{/extend}}
