#about {
  #hero {
    background-image: url('/assets/img/about/hero-2000px.jpg');
    background-size: cover;
    background-position-x: 70%;
    height: 800px;
    @media (max-width: 500px) {
      height: 600px;
    }
    div {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      #title {
        position: absolute;
        left: 25%;
        top: 60%;
        transform: translate(-50%, -50%);
        width: 282px;
        height: 100%;
        @media (max-width: 750px) {
          left: 50%;
        }
        h2 {
          position: relative;
          display: flex;
          flex-direction: column;
          text-align: left;
          font-family: $bedoni-sans;
          font-size: 45px;
          line-height: 100%;
          color: white;
          span {
            display: block;
            text-align: right;
          }
          :after {
            content: ('');
            position: absolute;
            height: 70px;
            width: 60px;
            background: url('/assets/img/landing/big-arrow.svg');
            background-repeat: no-repeat;
            bottom: -80px;
            transform: translateX(-50%);
            left: 50%;
          }
        }
      }
    }
  }
  #purpose {
    background-color: $platinum;
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        li {
          display: flex;
          flex-direction: column;
          align-items: center;
          h2 {
            font-size: 36px;
            max-width: 500px;
            margin-top: 60px;
            margin-bottom: 20px;
            @media (max-width: 600px) {
              font-size: 6vw;
            }
            @media (max-width: 400px) {
              font-size: 26px;
            }
          }
          h4 {
            font-family: $body-font;
            font-weight: bold;
            text-align: center;
            margin-bottom: 15px;
            font-size: 11px;
            text-transform: uppercase;
            color: $gold-leaf;
            letter-spacing: 1px;
          }
          h3 {
            text-align: center;
            margin-bottom: 20px;
            color: $gold-leaf;
            font-size: 22px;
            @media (max-width: 600px) {
              font-size: 18px;
              line-height: 130%;
            }

          }
          img {
            height: 70px;
            margin-bottom: 20px;
          }
        }
      }
    }
  }
  #incredibles {
    background-color: $platinum;
    div {
      padding: 0;
      max-width: 1400px;
      h2 {
        margin-top: 60px;
        @media (max-width: 600px) {
          font-size: 36px;
        }
      }
      h4 {
        font-family: $body-font;
        font-weight: bold;
        text-align: center;
        margin-top: 6px;
        margin-bottom: 15px;
        font-size: 11px;
        text-transform: uppercase;
        color: $gold-leaf;
        letter-spacing: 1px;
        @media (max-width: 600px) {
          font-size: 10px;
          margin: 0;
        }
      }
      ul {
        display: flex;
        margin: 60px auto 90px;
        @media (max-width: 800px) {
          margin-bottom: 40px;
        }
        @media (max-width: 600px) {
          flex-direction: column;
        }
        li {
          position: relative;
          max-width: 33.33vw;
          @media (max-width: 600px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 400px;
            margin: 0 auto 60px;
          }
          img {
            width: 100%;
            height: auto;
            @media (max-width: 600px) {
              max-width: 400px;
            }
          }
          h3 {
            text-align: center;
            margin: 20px 0;
            color: $gold-leaf;
            font-size: 22px;
          }
          p {
            line-height: 150%;
            margin: 16px 30px 55px;
            @media (max-width: 800px) {
              margin: 16px 15px 55px;
            }
            @media (max-width: 700px) {
              font-size: 14px;
            }
          }
          a {
            position: absolute;
            bottom: 0;
            transform: translateX(-50%);
            left: 50%;
          }
        }
      }
    }
  }
  #the-egg {
    background: black;
    div {
      padding-bottom: 60px;
      img {
        max-height: 180px;
        margin: 60px auto 20px;
      }
      h2 {
        font-size: 40px;
        color: white;
        @media (max-width: 600px) {
          font-size: 36px;
        }
      }
      p {
        text-align: center;
        line-height: 150%;
        max-width: 250px;
        margin: 20px auto 0;
        color: $gold-leaf;
      }
    }
  }
  #services-link {
    height: 800px;
    background: url('/assets/img/about/chair-2000px.jpg');
    background-size: cover;
    background-position: 56%;
    transform: translateY(-1px);
    > div {
      position: relative;
      height: 100%;
      > a {
        position: absolute;
        top: 20%;
        left: 75%;
        transform: translateX(-50%);
        @media (max-width: 550px) {
          top: 10%;
          left: 50%;
        }

        h2 {
          color: white;
          font-size: 40px;
        }
      }
    }
  }
}
