// All headings, paragraphs and buttons will inherit these font styles from the <body>
body {
  position: relative;
  font-family: $body-font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 130%;
  margin: 0;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &.prevent-scroll {
    overflow: hidden;
  }

}

// The general layout of the page
footer,
header,
section {
  min-width: 320px;
  > div {
    min-width: 320px;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 20px;
    overflow: hidden;
  }
}

// To avoid <img> and <iframe> to have weird white space below them, make them a block
iframe,
img {
  display: block;
}

// In most cases we use <ul> not as bullet lists and thus we strip them of all browser defaults
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    padding: 0;
  }
}

// This is to override the browser default font-weight and margins
h1,
// h2,
h3,
h4,
h5,
h6 {
  font-family: $bedoni-sans;
  font-style: normal;
  font-weight: normal;
  line-height: 150%;
  margin: 0;
}

// Normal hyperlinks
a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

// For the outdated browser message
#outdated {
  p {
    max-width: none;
  }
}
// Custom Styles
h2 {
  font-family: $bedoni-sans;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 120%;
  letter-spacing: 2px;
  margin: 0;
}
main {
  transition: ease-in-out 600ms all;
}
body.menu-active {
  #menu {
    transform: translateX(0);
  }
  main {
    transform: translateX(20vw);
  }
  &#landing #hero #title {
    display: none;
  }
}
.pseudo-right-arrow {
  position: relative;
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    right: -50px;
    background: url('/assets/img/landing/small-arrow-right.svg');
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    transform: translateY(-50%);

  }
}
#instagram {
  background: $platinum;
  > div {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 2000px;
    padding: 0;

    h2 {
      margin-top: 40px;
      @media (max-width: 550px) {
        font-size: 9vw;
      }
      @media (max-width: 400px) {
        font-size: 32px;
      }
    }

    > a {
      position: relative;
      color: $gold-leaf;
      margin-top: 30px;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 2px;
      padding-right: 40px;
      &:after {
        content: '';
        position: absolute;
        top: 50%;
        right: -10px;
        background: url('/assets/img/landing/small-arrow-right.svg');
        background-repeat: no-repeat;
        width: 40px;
        height: 40px;
        transform: translateY(-50%);

      }
    }

    #instafeed {
      display: flex;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
      margin-top: 60px;
      width: 100vw;

      > a {
        width: 20vw;
        height: 20vw;
        margin-top: 0;
        @media (max-width: 900px) {
          width: 25vw;
          height: 25vw;
          &:nth-last-child(1),
          &:nth-last-child(2) {
            display: none;
          }
        }
        @media (max-width: 767px) {
          width: 33.33vw;
          height: 33.33vw;
          &:nth-last-child(1) {
            display: none;
          }
        }
        @media (max-width: 500px) {
          width: 50vw;
          height: 50vw;
        }

        img {
          height: 100%;
          width: 100%;
        }
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}
#project-footer {
  background-color: $platinum;
  div {
    position: relative;
    text-align: center;
    h2 {
      font-size: 40px;
      margin-top: 40px;
      @media (max-width: 300px) {
        font-size: 30px;
      }
    }
    a {
      display: block;
      font-family: $body-font;
      color: $gold-leaf;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 2px;
      margin-top: 10px;
      margin-bottom: 40px;
      @media (max-width: 800px) {
        margin-bottom: 140px;
      }
    }
    .left {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      position: absolute;
      top: 50%;
      left: 20px;
      transform: translateY(-50%);
      height: 40px;
      width: 180px;
      font-family: $body-font;
      color: $gold-leaf;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 2px;
      margin: 0;
      background-image: url('/assets/img/icons/arrow-left_animated.svg');
      background-repeat: no-repeat;
      background-position: left;
      @media (max-width: 800px) {
        top: 160px;
      }
    }
    .right {
      display: flex;
      align-items: center;
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
      height: 40px;
      width: 160px;
      font-family: $body-font;
      color: $gold-leaf;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 2px;
      margin: 0;
      background-image: url('/assets/img/icons/arrow-right_animated.svg');
      background-repeat: no-repeat;
      background-position: right;
      @media (max-width: 800px) {
        top: 220px;
      }
    }
  }
}
//Parallax Background styles
main {
  .parallax-background {
    position: absolute;
    width: 100vw;
    transition: opacity 400ms linear;
    transition: transform 20ms linear;
    top: 0;
  }
  #cosmetic-avenue.parallax-background {
    top: 0;
    background: url('/assets/img/landing/cosmetic-avenue/background.jpg');
  }
}
