#landing {
  #feature-projects {
    >div {
      position: relative;
      overflow: visible;
      max-width: none;
      margin: 100px 0;
      text-align: center;
      @media (max-width: 600px) {
        margin: 30px 0;
      }
      h2 {
        font-size: 48px;
        @media (max-width: 550px) {
          font-size: 9vw;
        }
        @media (max-width: 400px) {
          font-size: 32px;
        }
      }
      div {
        position: absolute;
        z-index: 5;
        top: 50%;
        right: 100px;
        transform: translateY(-50%);
        @media (max-width: 850px) {
          position: static;
          top: 0;
          right: 0;
          padding: 20px 0;
          transform: none;
        }
        >a {
          font-size: 14px;
          font-weight: bold;
          z-index: 2;
          margin-top: 30px;
          letter-spacing: 2px;
          text-transform: uppercase;
          color: $gold-leaf;
          @media (max-width: 850px) {
            padding: 20px 60px 20px 20px;
            &:after {
              right: 10px;
            }
          }
        }
      }
    }
    >ul {
      #cosmetic-avenue {
        >div {
          z-index: 0;
          >.parallaxBackground {
            //background images with parallax effect
            position: absolute;
            top: 0;
            background-color: #142C45;
            background-repeat: no-repeat;
            background-size: cover;

            // Reasoning for responsive:
            // Based on manual observations the element containing the image will be this size.
            // 2000 > 2000x1440
            // 1800 > 1800x1440
            // 1600 > 1600x1440
            // 1400 > 1440x1440
            // 1200 > 1200x1440
            // 1000 > 1000x1440
            // 800 > 800x1152
            // 600 > 600x900
            // 400 > 400x900

            // Available images:
            // background-image: url("/assets/img/landing/cosmetic-bg-2000x1600.jpg");
            // background-image: url("/assets/img/landing/cosmetic-bg-1800x1440.jpg");
            // background-image: url("/assets/img/landing/cosmetic-bg-1600x1280.jpg");
            // background-image: url("/assets/img/landing/cosmetic-bg-1400x1120.jpg");
            // background-image: url("/assets/img/landing/cosmetic-bg-1200x960.jpg");
            // background-image: url("/assets/img/landing/cosmetic-bg-1000x800.jpg");
            // background-image: url("/assets/img/landing/cosmetic-bg-800x640.jpg");
            // background-image: url("/assets/img/landing/cosmetic-bg-600x480.jpg");
            // background-image: url("/assets/img/landing/cosmetic-bg-400x320.jpg");

            background-image: url("/assets/img/landing/cosmetic-bg-2000x1600.jpg");
            @media (max-width: 1800px) {
              background-image: url("/assets/img/landing/cosmetic-bg-1800x1440.jpg");
            }
            @media (max-width: 800px) {
              background-image: url("/assets/img/landing/cosmetic-bg-1600x1280.jpg");
            }
            @media (max-width: 600px) {
              background-image: url("/assets/img/landing/cosmetic-bg-1200x960.jpg");
            }
          }
          .images {
            img {
              width: 45vw;
              min-height: 90px;
              transition: all ease-out 600ms;
              transform: translateX(30px);
              opacity: 0;
              @media (max-width: 600px) {
                height: 13.8vw;
              }
              &.active {
                transform: translateX(0);
                opacity: 1;
              }
            }
          }
        }
      }
      #jeep {
        div {
          >.parallaxBackground {
            //background images with parallax effect
            position: absolute;
            top: 0;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url("/assets/img/landing/jeep/jeep-bg-1600w.jpg");
            @media (max-width: 1400px) {
              background-image: url("/assets/img/landing/jeep/jeep-bg-1400w.jpg");
            }
            @media (max-width: 1200px) {
              background-image: url("/assets/img/landing/jeep/jeep-bg-1200w.jpg");
            }
            @media (max-width: 1000px) {
              background-image: url("/assets/img/landing/jeep/jeep-bg-1000w.jpg");
            }
            @media (max-width: 800px) {
              background-image: url("/assets/img/landing/jeep/jeep-bg-800w.jpg");
            }
            @media (max-width: 600px) {
              background-image: url("/assets/img/landing/jeep/jeep-bg-600w.jpg");
            }
            @media (max-width: 400px) {
              background-image: url("/assets/img/landing/jeep/jeep-bg-400w.jpg");
            }
          }
          .aside {
            left: 80%;
            @media (max-width: 600px) {
              left: 50%;
            }
          }
          .images {
            left: 35%;
            justify-content: center;
            align-items: center;
            @media (max-width: 600px) {
              left: 50%;
            }
            picture {
              width: 62vw;
              transition: all ease-out 600ms;
              transition-property: transform, opacity;
              transform: translateX(-30px);
              opacity: 0;
              &.active {
                transform: translateX(0);
                opacity: 1;
              }
              img {
                max-width: 100%;
              }
            }
          }
        }
      }
      #finsec {
        background: url("/assets/img/landing/finsec/background.jpg");
        >div {
          .background {
            height: 100%;
          }
          .images {
            left: 66%;

            div {
              position: relative;
              width: 35vw;
              min-width: 205px;
              height: 35vw;
              margin: auto 0;
              @media (max-width: 380px) {
                height: 60vw;
              }

              >img {
                position: absolute;
                transition: all ease 1200ms;
                transform: translateX(30px);
                opacity: 0;
                &:nth-child(1) {
                  right: 0;
                  bottom: 0;
                  width: 100%;
                  min-width: 225px;
                }
                &:nth-last-child(2) {
                  right: -10px;
                  bottom: -9px;
                  width: 46%;
                  min-width: 100px;
                }
                &:nth-last-child(1) {
                  right: -30px;
                  bottom: -13px;
                  width: 20%;
                  min-width: 50px;
                  max-width: 120px;
                }
                &.active {
                  transform: translateX(0);
                  opacity: 1;
                }
              }
            }
          }
        }
      }
      #karen-williams {
        background: url("/assets/img/landing/karen-williams/background.jpg");
        >div {
          >.background {
            top: 50%;
            left: 50%;
            width: 100vw;
            height: 250%;
            transform: translate(-50%, -50%);
            transform-origin: 100% 50%;
            @media (max-width: 720px) {
              top: 100%;
              left: 50%;
              width: 150%;
              transform: translate(-50%, -50%) rotate(90deg);
            }
            @media (max-width: 550px) {
              width: 240%;
            }
          }
          >#sliding-cards {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            @media (max-width: 720px) {
              top: 58%;
            }
            li {
              display: flex;
              justify-content: center;
              margin: 35px 0;
              transform: rotate(-30deg);
              @media (min-width: 720px) {
                //removes the last line of cards to centre the feature card on desktop
                &:nth-last-child(1) {
                  display: none;
                }
                .feature-card-mobile {
                  display: none;
                }
              }
              @media (max-width: 720px) {
                margin: 25px 0;
                //removes the last card in each line to centre the feature card for mobile
                img:nth-last-child(1) {
                  display: none;
                }
                &:nth-child(4) {
                  //selects the line which has the feature card on it
                  img {
                    &:nth-last-child(2) {
                      //removes a second card image to keep the feature image centred
                      display: none;
                    }
                    &.feature-card-mobile {
                      display: block;
                    }
                  }
                }
              }
              img {
                width: 400px;
                height: 220px;
                margin: 5px;
                &:nth-last-child(1) {
                  display: none;
                }
                .feature-card-mobile {
                  display: none;
                }
                @media (max-width: 720px) {
                  width: 300px;
                  height: 160px;
                  margin: 3px;
                  &.feature-card {
                    display: none;
                  }
                }
              }
              .feature-card,
              .feature-card-mobile {
                transition: all ease 800ms;
                &.active {
                  transform: translate(18px, -28px);
                }
              }
            }
          }
          .aside {
            left: 80%;
            @media (max-width: 720px) {
              left: 50%;
            }
          }
          .images {
            left: 35%;
          }
        }
      }

      >li {
        position: relative;
        >div {
          position: relative;
          z-index: 1;
          display: flex;
          overflow: hidden;
          height: 120vw;
          min-height: 750px;
          max-height: 1200px;
          @media (max-width: 720px) {
            display: flex;
            align-items: center;
            flex-direction: column-reverse;
            justify-content: center;
          }

          .aside {
            position: absolute;
            z-index: 4;
            left: 20%;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            cursor: default;
            user-select: none;
            transform: translateX(-50%);
            @media (max-width: 720px) {
              position: static;
              height: auto;
              transform: translateX(0);
            }
            @media (min-width: 720px) {
              &:hover {
                .flipper {
                  animation: flip 1s ease-in-out infinite;
                  @keyframes flip {
                    100% {
                      transform: scalex(-1);
                    }
                  }
                }
              }
            }

            h3 {
              font-size: 28px;
              display: block;
              min-width: 220px;
              text-align: center;
              color: white;
              @media (max-width: 800px) {
                line-height: 135%;
              }
              @media (max-width: 450px) {
                font-size: 6vw;
                line-height: 130%;
              }
              @media (max-width: 400px) {
                font-size: 24px;
              }
            }
            img {
              &.line-dot {
                height: 60px;
                margin: 10px;
                @media (max-width: 720px) {
                  height: 40px;
                }
              }
              &.line-down {
                width: 2px;
                height: 100px;
                margin-bottom: 12px;
                @media (max-width: 720px) {
                  width: 1px;
                  height: 70px;
                }
              }
            }
            .flipper {
              position: relative;
              height: 45px;
              margin-top: 10px;
              @media (max-width: 720px) {
                height: 40px;
              }
              &:after {
                position: absolute;
                top: 0;
                left: 50%;
                width: 1px;
                height: 30px;
                content: ("");
                background-color: $gold-leaf;
              }
            }
            >ul {
              display: flex;
              flex-direction: column;
              li {
                font-size: 20px;
                line-height: 160%;
                margin: 0 auto;
                text-align: center;
                color: $gold-leaf;
                @media (max-width: 600px) {
                  font-size: 18px;
                  line-height: 135%;
                }
              }
            }
            a {
              font-size: 14px;
              font-weight: bold;
              margin-top: 20px;
              letter-spacing: 2px;
              text-transform: uppercase;
              color: $gold-leaf;
            }
          }
          .images {
            position: absolute;
            z-index: 3;
            left: 70%;
            display: flex;
            height: 100%;
            transform: translateX(-50%);
            @media (max-width: 720px) {
              position: static;
              height: 200px;
              margin-bottom: 40px;
              transform: translateX(0);
            }
            @media (max-width: 400px) {
              margin-bottom: 0;
            }
            >img,
            >picture {
              margin: auto 0;
              @media (max-width: 720px) {
                min-width: 300px;
              }
            }
          }
        }
        .background {
          position: absolute;
          z-index: 1;
          width: 100vw;
          height: 100%;
          &:nth-last-child(1) {
            z-index: 2;
          }
        }
        .parallaxBackground {
          position: absolute;
          z-index: 1;
          width: 100vw;
          height: 120%;
          transition: all linear 50ms;
          &:nth-last-child(1) {
            z-index: 2;
          }
        }
      }
    }
  }
}
