#landing {
  #feature-projects {
    > div {
      text-align: center;
      position: relative;
      margin: 100px 0;
      overflow: visible;
      @media (max-width: 600px) {
        margin: 30px 0;
      }
      h2 {
        font-size: 48px;
        @media (max-width: 550px) {
          font-size: 9vw;
        }
        @media (max-width: 400px) {
          font-size: 32px;
        }
      }
      div {
        position: absolute;
        right: 100px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 5;
        @media (max-width: 850px) {
          position: static;
          right: 0;
          top: 0;
          transform: none;
          padding: 20px 0;
        }
        > a {
          color: $gold-leaf;
          margin-top: 30px;
          text-transform: uppercase;
          font-size: 14px;
          font-weight: bold;
          letter-spacing: 2px;
          z-index: 2;
          @media (max-width: 850px) {
            padding: 20px 60px 20px 20px;
            &:after {
              right: 10px;
            }
          }
        }
      }
    }
    > ul {
      #cosmetic-avenue {
        z-index: 1;
        > div {
          z-index: 0;
          > .background {
            //background images with parallax effect
            position: absolute;
            top: 0;
            background: url('/assets/img/landing/cosmetic-avenue/background-texture.png');
            background-color: #142c45;
            background-repeat: no-repeat;
            background-size: cover;
          }
          .images {
            img {
              width: 45vw;
              min-height: 90px;
              @media (max-width: 600px) {
                height: 13.8vw;
              }
            }
          }
        }
      }
      #jeep {
        z-index: 2;
        div {
          > .background {
            //background images with parallax effect
            position: absolute;
            top: 0;
            background: url('/assets/img/landing/jeep/background-texture.jpg');
            background-repeat: no-repeat;
            background-size: cover;
          }
          .aside {
            left: 80%;
            @media (max-width: 600px) {
              left: 50%;
            }
          }
          .images {
            left: 35%;
            @media (max-width: 600px) {
              left: 50%;
            }
            img {
              width: 62vw;
            }
          }
        }
      }
      #finsec {
        z-index: 3;
        background: url('/assets/img/landing/finsec/background.jpg');
        > div {
          .background {
            height: 100%;
          }
          .images {
            left: 66%;
            @media (max-width: 720px) {
              margin-bottom: 70px;
            }
            @media (max-width: 600px) {
              margin-bottom: 50px;
            }
            div {
              position: relative;
              width: 35vw;
              height: 35vw;
              margin: auto 0;
              max-height: 400px;
              min-width: 205px;
              @media (max-width: 380px) {
                height: 60vw;
              }

              > img {
                position: absolute;
                transform: translatex(50px);
                opacity: 0;
                transition: all ease-out 1200ms;
                &:nth-child(1) {
                  width: 35vw;
                  max-width: 400px;
                  bottom: 0;
                  right: 0;
                  min-width: 225px;
                }
                &:nth-last-child(2) {
                  width: 15.6vw;
                  max-width: 160px;
                  right: -10px;
                  bottom: -9px;
                  min-width: 100px;
                }
                &:nth-last-child(1) {
                  width: 7.8vw;
                  max-width: 80px;
                  right: -30px;
                  bottom: -13px;
                  min-width: 50px;
                }
                &.active {
                  transform: translateX(0);
                  opacity: 1;
                }
              }
            }
          }
        }
      }
      #karen-williams {
        z-index: 4;
        background: url('/assets/img/landing/karen-williams/background.jpg');
        > div {
          overflow: hidden;
          > .background {
            transform-origin: 100% 50%;
            height: 250%;
            width: 100vw;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            @media (max-width: 720px) {
              transform: translate(-50%, -50%) rotate(90deg);
              top: 100%;
              left: 50%;
              width: 150%;
            }
            @media (max-width: 550px) {
              width: 240%;
            }
          }
          > #sliding-cards {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            @media (max-width: 720px) {
              top: 58%;
            }
            li {
              display: flex;
              justify-content: center;
              transform: rotate(-30deg);
              margin: 35px 0;
              @media (min-width: 720px) {
                //removes the last line of cards to centre the feature card on desktop
                &:nth-last-child(1) {
                  display: none;
                }
                .feature-card-mobile {
                  display: none;
                }
              }
              @media (max-width: 720px) {
                margin: 25px 0;
                //removes the last card in each line to centre the feature card for mobile
                img:nth-last-child(1) {
                  display: none;
                }
                &:nth-child(4) {
                  //selects the line which has the feature card on it
                  img {
                    &:nth-last-child(2) {
                      //removes a second card image to keep the feature image centred
                      display: none;
                    }
                    &.feature-card-mobile {
                      display: block;
                    }
                  }
                }
              }
              img {
                width: 400px;
                height: 220px;
                margin: 5px;
                &:nth-last-child(1) {
                  display: none;
                }
                .feature-card-mobile {
                  display: none;
                }
                @media (max-width: 720px) {
                  width: 300px;
                  height: 160px;
                  margin: 3px;
                  &.feature-card {
                    display: none;
                  }
                }
              }
              .feature-card,
              .feature-card-mobile {
                transition: all ease-out 1200ms;
                &.active {
                  transform: translate(18px, -28px);
                }
              }
            }
          }
          .aside {
            left: 80%;
            @media (max-width: 720px) {
              left: 50%;
            }
          }
          .images {
            left: 35%;

          }
        }
      }

      > li {
        position: relative;
        > div {
          display: flex;
          position: relative;
          z-index: 1;
          height: 120vw;
          min-height: 750px;
          max-height: 1200px;
          @media (max-width: 720px) {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column-reverse;
          }

          .aside {
            position: absolute;
            left: 20%;
            transform: translateX(-50%);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            z-index: 4;
            height: 100%;
            @media (max-width: 720px) {
              position: static;
              transform: translateX(0);
              height: auto;
            }
            @media (min-width: 720px) {
              &:hover {
                .flipper {
                  @keyframes flip {
                    100% {
                      transform: scalex(-1);
                    }
                  }
                  animation: flip 1s ease-in-out infinite;
                }
              }
            }

            h3 {
              display: block;
              text-align: center;
              font-size: 28px;
              color: white;
              min-width: 220px;
              @media (max-width: 800px) {
                line-height: 135%;
              }
              @media (max-width: 450px) {
                font-size: 6vw;
                line-height: 130%;
              }
              @media (max-width: 400px) {
                font-size: 24px;
              }
            }
            img {
              &.line-dot {
                height: 60px;
                margin: 10px;
                @media (max-width: 720px) {
                  height: 40px;
                }
              }
              &.line-down {
                height: 100px;
                width: 2px;
                margin-bottom: 12px;
                @media (max-width: 720px) {
                  height: 70px;
                  width: 1px;
                }
              }
            }
            .flipper {
              position: relative;
              height: 45px;
              margin-top: 10px;
              @media (max-width: 720px) {
                height: 40px;
              }
              &:after {
                position: absolute;
                content: ('');
                width: 1px;
                height: 30px;
                top: 0;
                left: 50%;
                background-color: $gold-leaf;
              }
            }
            > ul {
              display: flex;
              flex-direction: column;
              li {
                text-align: center;
                font-size: 20px;
                line-height: 160%;
                margin: 0 auto;
                color: $gold-leaf;
                @media (max-width: 600px) {
                  font-size: 18px;
                  line-height: 135%;
                }
              }
            }
            a {
              color: $gold-leaf;
              margin-top: 10px;
              text-transform: uppercase;
              font-size: 14px;
              font-weight: bold;
              letter-spacing: 2px;

            }
          }
          .images {
            display: flex;
            height: 100%;
            position: absolute;
            left: 70%;
            transform: translateX(-50%);
            z-index: 3;
            @media (max-width: 720px) {
              position: static;
              transform: translateX(0);
              margin-bottom: 40px;
              height: 200px;
            }
            @media (max-width: 400px) {
              margin-bottom: 0;
            }
            img {
              margin: auto 0;
              @media (max-width: 720px) {
                min-width: 300px;
              }
            }
          }
        }
        .background {
          position: absolute;
          height: 250%;
          width: 100vw;
          z-index: 1;
          &:nth-last-child(1) {
            z-index: 2;
          }
        }
      }
    }
  }
}
