@font-face {
	font-family: 'Bedoni-Sans';
	src: url('/assets/fonts/BodoniSans-Regular.eot');
	src: url('/assets/fonts/BodoniSans-Regular.woff2') format('woff2'), url('/assets/fonts/BodoniSans-Regular.woff') format('woff'), url('/assets/fonts/BodoniSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Body-Font';
	src: url('/assets/fonts/2E4C54_0_0.eot');
	src: url('/assets/fonts/2E4C54_0_0.woff2') format('woff2'), url('/assets/fonts/2E4C54_0_0.woff') format('woff'), url('/assets/fonts/2E4C54_0_0.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
