header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 80px;
  z-index: 5;
  transition: top ease-in-out 800ms;
  > div {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    > div {
      position: absolute;

    }
    #menu-link {
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      margin-left: 20px;
      z-index: 3;
      transition: all 200ms fade-in-out;
      @media (max-width: 700px) {
        margin-left: 0;
      }
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 1.5px;
        color: $silver;
        height: 25px;
        width: 76px;
        padding: 10px;
        margin: 5px;
      }
    }
    #logo {
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      a {
        display: flex;
        position: relative;
        padding: 5px;
        h1 {
          font-size: 25px;
          text-transform: uppercase;
          letter-spacing: 5px;
          color: $gold-leaf;
          padding-top: 10px;
          transition: all ease-out 800ms;
        }
        img {
          height: 52px;
          z-index: 3;
        }
        #logo-left {
          width: 125px;
          padding-right: 8px;
        }
        #logo-right {
          width: 125px;
          padding-left: 8px;
        }
        > div {
          display: none;
          overflow: hidden;
          @media (max-width: 700px) {
            display: none!important;
          }
        }

        &.animate {
          #logo-left {
            h1 {
              @keyframes logoAnimateLeft {
                0% {
                  transform: translatex(120%);
                }
                66% {
                  transform: translatex(120%);
                }
                100% {
                  transform: translatex(0%);
                }
              }
              animation: logoAnimateLeft 1.5s ease-out;
            }
          }
          #logo-right {
            h1 {
              @keyframes logoAnimateRight {
                0% {
                  transform: translatex(-120%);
                }
                66% {
                  transform: translatex(-120%);
                }
                100% {
                  transform: translatex(0%);
                }
              }
              animation: logoAnimateRight 1.5s ease-out;
            }
          }
        }
      }
      &.active {
        #logo-left,
        #logo-right {
          display: block;
        }
      }
    }
    #social-media {
      display: flex;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      margin-right: 20px;
      a {
        margin: 5px;
        @media (max-width: 700px) {
          margin: 2px;
        }
        img {
          height: 22px;
          width: 22px;
          padding: 10px;
          @media (max-width: 700px) {
            padding: 6px;
            width: 18px;
            height: 18px;
          }
          @media (max-width: 500px) {
            padding: 4px;
          }
        }
      }
    }
  }
}
