#landing {
  #hero {
    position: relative;
    background-size: cover;
    background-position-x: 80%;
    height: 800px;
    overflow: hidden;
    @media (max-width: 600px) {
      height: 700px;
      &:after {
        content: ("");
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url("/assets/img/landing/background-chair-overlay.png");
        background-size: cover;
        top: 20%;
        transform: rotateX(180deg);
        z-index: 2;
      }
    }
    // Reasoning for responsive widths:
    // The background image is set to cover the entire section.
    // On mobile the the height will be 530px always and the left and right will be chopped up.
    // For that reason we do not want to use a 400px wide image for mobile.
    background-image: url("/assets/img/landing/hero-2000x1200.jpg");
    @media (max-width: 1800px) {
      background-image: url("/assets/img/landing/hero-1800x1080.jpg");
    }
    @media (max-width: 1600px) {
      background-image: url("/assets/img/landing/hero-1600x960.jpg");
    }
    @media (max-width: 1400px) {
      background-image: url("/assets/img/landing/hero-1400x840.jpg"); // We need an image at least 800 high
    }
    @media (max-width: 400px) {
      height: 640px;
      background-image: url("/assets/img/landing/hero-1200x720.jpg"); // We need an image at least 640 high
    }
    @media (max-width: 322px) {
      height: 530px;
      background-image: url("/assets/img/landing/hero-1000x600.jpg"); // We need an image at least 530 high
    }
    // On retina screens we need double pixel density
    // Given that non of the above media queries uses below 1000px wide image, all must default to our maximum 2000px wide image.
    // We don't want this everywhere, but the landing hero needs to make an impact!
    // Given the detail of those picture, the quality difference is also quite noticeable.
    @include if-retina {
      background-image: url("/assets/img/landing/hero-2000x1200.jpg");
    }
    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      #title {
        margin-left: 25%;
        transform: translateX(-50%);
        width: 282px;
        @media (max-width: 600px) {
          transform: none;
          margin: 0 auto;
        }
        h2 {
          position: relative;
          display: flex;
          flex-direction: column;
          text-align: left;
          font-family: $bedoni-sans;
          font-size: 45px;
          line-height: 100%;
          color: white;
          z-index: 3;
          user-select: none;
          cursor: default;
          @media (max-width: 600px) {
            padding-top: 175px;
          }
          span {
            display: block;
            text-align: right;
          }
          :after {
            content: ("");
            position: absolute;
            height: 70px;
            width: 60px;
            background: url("/assets/img/icons/small-arrow-down-animated.svg");
            background-repeat: no-repeat;
            bottom: -80px;
            transform: translateX(-50%);
            left: 50%;
          }
        }
      }
    }
  }
  #intro {
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow: visible;
      div {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        margin: 80px 0 40px;
        @media (max-width: 600px) {
          margin: 20px auto 30px;
        }
        img {
          height: 80px;
          @media (max-width: 600px) {
            height: 60px;
            margin-top: 17px;
          }
          @media (max-width: 400px) {
            height: 50px;
            margin-top: 27px;
          }
        }
        p {
          font-size: 20px;
          line-height: 160%;
          max-width: 570px;
          margin-top: 52px;
          user-select: none;
          cursor: default;
          @media (max-width: 600px) {
            font-size: 3vw;
          }
          @media (max-width: 530px) {
            font-size: 16px;
          }
        }
      }
      >#arrow-bracket {
        position: relative;
        margin-bottom: 0;
        width: 60vw;
        max-width: 1000px;
        h3 {
          position: absolute;
          font-size: 28px;
          color: $gold-leaf;
          top: -60px;
          user-select: none;
          cursor: default;
          @media (max-width: 600px) {
            font-size: 4vw;
            top: -6vw;
          }
          @media (max-width: 400px) {
            font-size: 17px;
          }
        }
        .graphic-design {
          left: 0;
          transform: translateX(-50%);
        }
        .websites {
          left: 50%;
          transform: translateX(-50%);
        }
        .illustration {
          right: 0;
          transform: translateX(50%);
        }
        img {
          width: 100%;
          height: auto;
        }
      }
    }
    h2 {
      margin: 10px 0 80px;
      user-select: none;
      cursor: default;
      @media (max-width: 550px) {
        font-size: 9vw;
      }
      @media (max-width: 400px) {
        font-size: 32px;
      }
      span {
        position: relative;
        &:after {
          content: ("");
          position: absolute;
          bottom: 5px;
          left: 2%;
          width: 0;
          height: 1px;
          background: $gold-leaf;
          transition: ease-out 1200ms all;
        }
        &.active {
          &:after {
            width: 96%;
          }
        }
      }
    }
  }

  //feature-projects section moved to individual scss file

  #too-damn-hard {
    background-color: black;
    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      height: 60vw;
      min-height: 100vh;
      h2 {
        font-size: 40px;
        color: white;
        line-height: 120%;
        letter-spacing: 2px;
        user-select: none;
        cursor: default;
        @media (max-width: 550px) {
          font-size: 7vw;
        }
        @media (max-width: 400px) {
          font-size: 32px;
          max-width: 270px;
        }
      }
      p {
        text-transform: uppercase;
        color: $gold-leaf;
        user-select: none;
        cursor: default;
      }
    }
  }

  #tell-me-more {
    position: relative;
    background: url("/assets/img/landing/background-chair.jpg");
    background-size: cover;
    background-position-x: 50%;
    z-index: 0;
    >:after {
      content: ("");
      position: absolute;
      width: 100%;
      height: 100%;
      background: url("/assets/img/landing/background-chair-overlay.png");
      background-size: cover;
      z-index: 1;
      transform: translate(-50%, -50%);
      top: 49%;
      left: 50%;
    }
    >div {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 80vw;
      min-height: 100vh;
      z-index: 2;
      h2 {
        color: white;
        margin-top: 5%;
        z-index: 2;
        user-select: none;
        cursor: default;
        @media (max-width: 600px) {
          margin-top: 30%;
        }
        @media (max-width: 550px) {
          font-size: 9vw;
        }
        @media (max-width: 400px) {
          font-size: 32px;
        }
      }
      >#arrow-bracket-reverse {
        position: relative;
        margin-bottom: 0;
        width: 60vw;
        max-width: 1000px;
        z-index: 2;
        a {
          font-family: $bedoni-sans;
          position: absolute;
          font-size: 28px;
          color: white;
          bottom: -45px;
          cursor: pointer;
          padding: 10px 0 0;
          @media (max-width: 480px) {
            font-size: 6vw;
          }
          @media (max-width: 400px) {
            font-size: 22px;
          }
          //short term fix for double click on ios touchscreen
          @media (min-width: 500px) {
            &:after {
              content: ("");
              position: absolute;
              bottom: -1px;
              left: 0;
              width: 0;
              height: 1px;
              background: $gold-leaf;
              transition: ease-in-out 200ms all;
              z-index: 2;
            }
            &:hover {
              &:after {
                width: 100%;
              }
            }
          }
        }
        .about {
          left: 2.8%;
          transform: translateX(-50%);
        }
        .services {
          left: 50%;
          transform: translateX(-50%);
        }
        .contact-button {
          right: 2.8%;
          transform: translateX(50%);
        }
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}
