#menu {
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  height: 100vh;
  width: 40vw;
  z-index: 2;
  transform: translateX(-100%);
  transition: ease-in-out 600ms transform;
  background-color: $platinum;
  @media (max-width: 800px) {
    width: 100vw;
  }

  > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: $gold-leaf;
    padding: 80px 20px 0;
    @media (max-width: 800px) {
      justify-content: center;
      max-height: 650px;
      margin: auto;
    }
    @media (max-width: 500px) {
      justify-content: flex-start;
    }
    ul {
      margin: 20px 0 auto;
      @media (max-width: 500px) {
        margin-top: 0;
      }
      li {
        padding: 5px 0;
        margin: 10px 0;
        @media (max-width: 500px) {
          padding: 2px 0;
          margin: 5px 0;
        }
        a {
          position: relative;
          font-family: $bedoni-sans;
          font-size: 50px;
          line-height: 100%;
          letter-spacing: 2px;
          color: black;
          cursor: pointer;
          @media (max-width: 1000px) {
            font-size: 5vw;
          }
          @media (max-width: 800px) {
            font-size: 50px;
          }
          @media (max-width: 500px) {
            font-size: 42px;
          }
          @media (min-width: 500px) {
            &:after {
              content: ('');
              position: absolute;
              bottom: 5px;
              left: 0;
              width: 0;
              height: 1px;
              background: $gold-leaf;
              transition: ease-in-out 200ms all;
            }
            &:hover {
              &:after {
                width: 100%;
              }
            }
          }
        }
      }
    }
    h2 {
      text-align: left;
      font-size: 32px;
      letter-spacing: 1.8px;
      margin: 5px 0 2px;
      cursor: default;
      @media (max-width: 1000px) {
        font-size: 3vw;
      }
      @media (max-width: 700px) {
        font-size: 21px;
      }
    }
    h3 {
      font-size: 22px;
      color: $gold-leaf;
      margin: 2px 0;
      cursor: default;
      @media (max-width: 1000px) {
        font-size: 2.5vw;
      }
      @media (max-width: 700px) {
        font-size: 19px;
      }
    }
    > a {
      display: inline-table;
      position: relative;
      font-size: 22px;
      color: $gold-leaf;
      margin: 5px 0;
      @media (max-width: 1000px) {
        font-size: 2.5vw;
      }
      @media (max-width: 700px) {
        font-size: 19px;
      }
      @media (min-width: 500px) {
        &:after {
          content: ('');
          position: absolute;
          bottom: -3px;
          left: 0;
          width: 0;
          height: 1px;
          background: $gold-leaf;
          transition: ease-in-out 200ms all;
        }
        &:hover {
          &:after {
            width: 100%;
          }
        }
      }
    }
    p {
      font-size: 12px;
      color: $gold-leaf;
      margin: auto 0 5px;
      cursor: default;
      line-height: 100%;
      &:nth-last-child(1) {
        margin: 5px 0 20px;
      }
      @media (max-width: 700px) {
        font-size: 10px;
        margin: 2px 0;
      }
    }
  }
}
