#menu {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  height: 100vh;
  width: 40vw;
  z-index: 2;
  transform: translateX(-100%);
  transition: ease-in-out 600ms transform;
  background-color: $platinum;
  padding-top: 80px;
  @media (max-width: 800px) {
    width: 100vw;
  }

  div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: $gold-leaf;
    height: 100vh;
    @media (max-width: 800px) {
      justify-content: center;
    }
    @media (max-width: 500px) {
      justify-content: flex-start;
    }
    ul {
      margin-top: 20px;
      @media (max-width: 800px) {
        margin-top: -100px;
      }
      @media (max-width: 500px) {
        margin-top: 20px;
      }
      li {
        padding: 10px 0;
        margin: 10px 0;
        @media (max-width: 500px) {
          padding: 5px 0;
          margin: 5px 0;
        }
        a {
          position: relative;
          font-family: $bedoni-sans;
          font-size: 50px;
          line-height: 100%;
          letter-spacing: 2px;
          color: black;
          cursor: pointer;
          @media (max-width: 1000px) {
            font-size: 5vw;
          }
          @media (max-width: 700px) {
            font-size: 35px;
          }
          &:after {
            content: ('');
            position: absolute;
            bottom: 5px;
            left: 0;
            width: 0;
            height: 1px;
            background: $gold-leaf;
            transition: ease-in-out 200ms all;
          }
          &:hover {
            &:after {
              width: 100%;
            }
          }
        }
      }
    }
    h2 {
      text-align: left;
      font-size: 32px;
      letter-spacing: 1.8px;
      margin: 40px 0 10px;
      cursor: default;
      @media (max-width: 1000px) {
        font-size: 3vw;
      }
      @media (max-width: 700px) {
        font-size: 21px;
      }

    }
    p {
      font-size: 25px;
      color: $gold-leaf;
      margin: 10px 0;
      cursor: default;
      @media (max-width: 1000px) {
        font-size: 2.5vw;
      }
      @media (max-width: 700px) {
        font-size: 19px;
      }
    }
    > a {
      display: inline-table;
      position: relative;
      font-size: 25px;
      color: $gold-leaf;
      margin: 10px 0;
      @media (max-width: 1000px) {
        font-size: 2.5vw;
      }
      @media (max-width: 700px) {
        font-size: 19px;
      }
      &:after {
        content: ('');
        position: absolute;
        bottom: -3px;
        left: 0;
        width: 0;
        height: 1px;
        background: $gold-leaf;
        transition: ease-in-out 200ms all;
      }
      &:hover {
        &:after {
          width: 100%;
        }
      }
    }
  }
}
