#portfolio {
  user-select: none;
  cursor: default;
  a {
    cursor: pointer;
  }
  header {
    background-color: black;
  }
  main {
    section {
      div {
        padding: 0;
        min-width: 0;
        max-width: none;
      }
    }
    .portfolio-item-wrapper {
      position: relative;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
      }
      .portfolio-item-overlay {
        position: absolute;
        content: ('');
        height: 200px;
        width: 100%;
        opacity: 0;
        background: linear-gradient(transparent, black);
        background-size: cover;
        left: 0;
        bottom: 0;
        transition: ease-out 500ms opacity;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        img {
          height: 50px;
        }
        h3 {
          color: white;
          text-align: center;
          @media (max-width: 380px) {
            font-size: 13px;
          }
        }
        h4 {
          color: white;
          text-align: center;
          margin-bottom: 10px;
          @media (max-width: 380px) {
            font-size: 12px;
          }
        }
        a {
          font-family: 'Bedoni-Sans', sans-serif;
          font-style: normal;
          font-weight: normal;
          line-height: 150%;
          margin: 0;
          color: white;
          margin-bottom: 10px;
          @media (max-width: 380px) {
            font-size: 12px;
          }
        }
      }
      &:hover {
        .portfolio-item-overlay {
          opacity: 1;
        }
      }
    }
    .pair {
      display: flex;
      @media (max-width: 600px) {
        flex-direction: column;
      }
      > .portfolio-item-wrapper {
        width: 66.66vw;
        height: 66.66vw;
        @media (max-width: 600px) {
          width: 100vw;
          height: 100vw;
        }
      }
      > div {
        display: flex;
        flex-direction: column;
        @media (max-width: 600px) {
          flex-direction: row;
        }
        > .portfolio-item-wrapper {
          width: 33.33vw;
          height: 33.33vw;
          @media (max-width: 600px) {
            width: 50vw;
            height: 50vw;
          }
        }
      }
    }
    .solo {
      .portfolio-item-wrapper {
        width: 100vw;
      }
    }
    .three {
      display: flex;
      .portfolio-item-wrapper {
        width: 33.33vw;
        height: 33.33vw;
      }
    }
    #fold1 {
      padding-top: 80px;
      background-color: black;
    }
  }
}
