#project-karen-williams {
  user-select: none;
  cursor: default;
  a {
    cursor: pointer;
  }
  header {
    background-color: black;
  }
  #hero {
    height: 57vw;
    min-height: 300px;
    &:nth-child(1) {
      margin-top: 80px;
    }
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0;
      height: 100%;
      max-width: none;
      position: relative;
      background-image: url('/assets/img/portfolio/karen-williams/hero-background@2x.jpg');
      background-size: cover;
      > #sliding-cards {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        @media (max-width: 720px) {
          top: 88%;
        }
        li {
          display: flex;
          justify-content: center;
          transform: rotate(-30deg);
          margin: 35px 0;
          @media (max-width: 720px) {
            margin: 25px 0;
            //removes the last card in each line to centre the feature card for mobile
            img:nth-last-child(1) {
              display: none;
            }
            &:nth-child(4) {
              //selects the line which has the feature card on it
              img {
                &:nth-last-child(2) {
                  //removes a second card image to keep the feature image centred
                  display: none;
                }
              }
            }
          }
          img {
            width: 400px;
            height: 220px;
            margin: 5px;
            @media (max-width: 720px) {
              width: 300px;
              height: 160px;
              margin: 3px;

            }
          }
          .feature-card {
            transition: all ease-out 1200ms;
            &.active {
              transform: translate(18px, -28px);
            }
          }
        }
      }
    }
  }
  #details {
    background-color: $platinum;
    > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      h2 {
        margin-top: 10px;
        text-align: center;
        font-size: 28px;
        line-height: 135%;
        @media (max-width: 700px) {
          line-height: 135%;
          font-size: 4vw;
        }
        @media (max-width: 400px) {
          font-size: 18px;
        }
      }
      h3 {
        margin-top: 20px;
        text-align: center;
        font-size: 20px;
        line-height: 160%;
        color: $gold-leaf;
        max-width: 410px;
        @media (max-width: 600px) {
          font-size: 3.8vw;
          line-height: 135%;
        }
        @media (max-width: 400px) {
          font-size: 16px;
        }
      }
      > img:nth-child(1) {
        margin-top: 60px;
        height: 100px;
      }
      > img {
        margin-top: 10px;
        height: 60px;
      }
      > img:nth-last-child(1) {
        margin-bottom: 100px;
        height: 40px;
      }
    }
  }
  #image-display {
    background-image: url('/assets/img/portfolio/finsec/background.jpg');

    > div {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: none;
      @media (max-width: 500px) {
        flex-direction: column;
      }
      img {
        width: 50vw;
        height: 50vw;
        @media (max-width: 500px) {
          width: 100vw;
          height: 100vw;
        }
      }
    }
  }
  #banner {
    background-color: #238787;
    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 30vw;
      min-height: 160px;
      h2 {
        font-size: 32px;
        color: white;
        z-index: 2;
        @media (max-width: 800px) {
          font-size: 4vw;
        }
        @media (max-width: 480px) {
          font-size: 18px;
        }
      }
    }
  }
  #hero2 {
    background-image: url('/assets/img/portfolio/finsec/background.jpg');
    background-size: cover;
    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0;
      max-width: none;
      img {
        width: 100vw;
        margin: 30px auto;
        max-width: 2000px;
      }
    }

  }
}
