#project-cosmetic-avenue {
  header {
    background-color: black;
  }
  #hero {
    height: 57vw;
    min-height: 300px;
    &:nth-child(1) {
      margin-top: 80px;
    }
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0;
      height: 100%;
      max-width: none;
      img {
        height: 100%;
        min-width: 100vw;
        min-height: 300px;
      }
    }
  }
  #details {
    background-color: $platinum;
    > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      h2 {
        margin-top: 10px;
        text-align: center;
        font-size: 28px;
        line-height: 135%;
        @media (max-width: 700px) {
          line-height: 135%;
          font-size: 4vw;
        }
        @media (max-width: 400px) {
          font-size: 15px;
        }
      }
      h3 {
        margin-top: 20px;
        text-align: center;
        font-size: 20px;
        line-height: 160%;
        color: $gold-leaf;
        max-width: 410px;
        @media (max-width: 600px) {
          font-size: 3.8vw;
          line-height: 135%;
        }
        @media (max-width: 400px) {
          font-size: 14px;
        }
      }
      > img:nth-child(1) {
        margin-top: 60px;
        height: 100px;
      }
      > img {
        margin-top: 10px;
        height: 60px;
      }
      > img:nth-last-child(1) {
        margin-bottom: 100px;
        height: 40px;
      }
    }
  }
  #image-display {
    > div {
      display: flex;
      padding: 0;
      max-width: none;

      img {
        width: 66.66vw;
        height: 66.66vw;
      }
      div {
        display: block;
        img {
          width: 33.33vw;
          height: 33.33vw;
        }
      }
      @media (max-width: 700px) {
        flex-direction: column;
        > img {
          width: 100vw;
          height: 100vw;
        }
        > div {
          > img {
            width: 100vw;
            height: 100vw;
          }
        }
      }
    }
  }
  #banner {
    background-color: #1b1b3e;
    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 30vw;
      min-height: 160px;
      h2 {
        font-size: 32px;
        color: white;
        z-index: 2;
        @media (max-width: 800px) {
          font-size: 4vw;
        }
        @media (max-width: 480px) {
          font-size: 18px;
        }
      }
    }
  }
}
