#services {
  header:before {
    }
  #services-section {
    background: $platinum;
    padding-top: 80px;
    > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      h2 {
        margin-top: 100px;
        margin-bottom: 40px;
      }
      img:nth-last-child(2) {
        max-width: 40px;
        margin-bottom: 20px;
      }
      img:nth-last-child(1) {
        max-height: 260px;
        margin-bottom: 20px;
      }
    }
  }

  #graphic-design {
    background: $platinum;
    padding-bottom: 10vw;

    > div {
      display: flex;
      flex-direction: column;
      align-items: center;

      position: relative;
      overflow: visible;
      &:before {
        content: ('');
        width: 20vw;
        max-width: 200px;
        height: 200px;
        position: absolute;
        top: -40px;
        left: 15%;
        transform: translatex(-50%);
        background-image: url('/assets/img/services/ready-doctor@2x.png');
        background-size: contain;
        background-repeat: no-repeat;
      }
      &:after {
        content: ('');
        width: 20vw;
        max-width: 260px;
        height: 200px;
        position: absolute;
        bottom: 0;
        right: 15%;
        transform: translatex(50%);
        background-image: url('/assets/img/services/colette-werden@2x.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
      > h2 {
        margin-bottom: 40px;
      }
      > img {
        width: 260px;
      }
      > div {
        position: relative;
        width: 260px;
        ul {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          color: $gold-leaf;
          margin-top: 10px;
          margin-bottom: 100px;

          h4 {
            font-family: $body-font;
            font-weight: bold;
            font-size: 12px;
            text-transform: uppercase;
            margin-bottom: 10px;
          }
          > img {
            width: 25px;
            margin-bottom: 15px;
          }
          li {}
          &:nth-child(1) {
            position: absolute;
            left: 3%;
            top: 0;
            transform: translatex(-50%);
          }
          &:nth-child(3) {
            position: absolute;
            right: 3%;
            top: 0;
            transform: translatex(50%);
          }
        }
      }
    }
  }
  #websites {
    background: $platinum;
    padding-bottom: 10vw;

    > div {
      display: flex;
      flex-direction: column;
      align-items: center;

      position: relative;
      overflow: visible;
      &:before {
        content: ('');
        width: 20vw;
        max-width: 220px;
        height: 200px;
        position: absolute;
        top: -40px;
        left: 15%;
        transform: translatex(-50%);
        background-image: url('/assets/img/services/red-dust@2x.png');
        background-size: contain;
        background-repeat: no-repeat;
      }
      &:after {
        content: ('');
        width: 20vw;
        max-width: 220px;
        height: 200px;
        position: absolute;
        bottom: 0;
        right: 15%;
        transform: translatex(50%);
        background-image: url('/assets/img/services/maya@2x.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
      h2 {
        margin-bottom: 40px;
      }
      > img {
        max-width: 200px;
        margin-bottom: 10px;
      }
      > div {
        position: relative;
        width: 200px;
        height: 300px;
        ul {
          display: flex;
          flex-direction: column;
          align-items: center;
          position: absolute;
          text-align: center;
          color: $gold-leaf;
          top: 0;
          h4 {
            font-family: $body-font;
            font-weight: bold;
            font-size: 12px;
            text-transform: uppercase;
            margin-bottom: 10px;
          }
          > img {
            width: 25px;
            margin-bottom: 15px;
          }
          &:nth-last-child(2) {
            left: 1%;
            transform: translatex(-50%);
          }
          &:nth-last-child(1) {
            right: 1%;
            transform: translatex(50%);
          }
        }
      }
    }
  }
  #illustration {
    position: relative;
    overflow: visible;
    background: $platinum;

    div {
      padding: 0;
      max-width: none;
    }
    .text-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-height: 80vh;
      padding: 10vh 0;

      h2 {
        margin-bottom: 40px;
      }
      > img {
        max-width: 200px;
        margin-bottom: 10px;
      }
      > div {
        position: relative;
        width: 200px;
        height: 300px;
        ul {
          display: flex;
          flex-direction: column;
          align-items: center;
          position: absolute;
          text-align: center;
          color: $gold-leaf;
          top: 0;
          h4 {
            font-family: $body-font;
            font-weight: bold;
            font-size: 12px;
            text-transform: uppercase;
            margin-bottom: 10px;
          }
          > img {
            height: 70px;
            margin-bottom: 15px;
          }
        }
      }
    }
    .parallax {
      position: absolute;

      top: -5vh;
      left: 0;
      height: 110vh;
      width: 100vw;
      max-width: none;
      div {
        position: relative;
        width: 100%;
        height: 100%;
        img {
          position: absolute;
          transform: translate(-50%,-50%);
        }
      }
      &.layer-1 {
        div {
          img:nth-child(1) {
            //sad girl
            top: 65%;
            left: 15%;
            width: 50px;
          }
          img:nth-child(2) {
            //drink
            top: 25%;
            left: 85%;
            width: 50px;
          }

        }
      }
      &.layer-2 {
        div {
          img:nth-child(1) {
            //2girls
            top: 15%;
            left: 20%;
            width: 80px;
          }
          img:nth-child(2) {
            //girl
            top: 38%;
            left: 75%;
            width: 50px;
          }

        }
      }
      &.layer-3 {
        div {
          img:nth-child(1) {
            //kangaroo
            top: 50%;
            left: 30%;
            width: 120px;
          }
          img:nth-child(2) {
            //donut
            top: 70%;
            left: 85%;
            width: 20px;
          }

        }
      }
      &.layer-4 {
        div {
          img:nth-child(1) {
            //kangaroo
            top: 40%;
            left: 12%;
            width: 60px;
          }
          img:nth-child(2) {
            //donut
            top: 10%;
            left: 45%;
            width: 80px;
          }
          img:nth-child(3) {
            //kangaroo
            top: 15%;
            left: 30%;
            width: 50px;
          }
          img:nth-child(4) {
            //donut
            top: 60%;
            left: 88%;
            width: 45px;
          }
          img:nth-child(5) {
            //donut
            top: 15%;
            left: 72%;
            width: 45px;
          }
        }
      }
      &.layer-5 {
        div {
          img:nth-child(1) {
            //kangaroo
            top: 10%;
            left: 18%;
            width: 60px;
          }
          img:nth-child(2) {
            //donut
            top: 4%;
            left: 90%;
            width: 75px;
          }
          img:nth-child(3) {
            //kangaroo
            top: 5%;
            left: 22%;
            width: 32px;
          }
          img:nth-child(4) {
            //donut
            top: 60%;
            left: 88%;
            width: 45px;
          }
          img:nth-child(5) {
            //donut
            top: 65%;
            left: 52%;
            width: 30px;
          }
          img:nth-child(6) {
            //donut
            top: 15%;
            left: 72%;
            width: 45px;
          }
        }
      }
      &.layer-6 {
        div {
          img:nth-child(1) {
            //kangaroo
            top: 49%;
            left: 39%;
            width: 49px;
          }
          img:nth-child(2) {
            //donut
            top: 14%;
            left: 66%;
            width: 25px;
          }
          img:nth-child(3) {
            //kangaroo
            top: 35%;
            left: 6%;
            width: 38px;
          }
          img:nth-child(4) {
            //donut
            top: 64%;
            left: 70%;
            width: 18px;
          }
        }
      }
    }
  }
  #contact {
    background-image: url('/assets/img/services/hero-2000px.jpg');
    background-size: cover;
    height: 66vw;
    min-height: 500px;
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      a {
        h2 {
          color: white;
          margin-top: 80px;
        }
      }
    }
  }
}
